.title-div {
    color: #cc0000;
    padding-top: 10px;
    font-weight: bolder;
    padding-left: 15px;
}
.red-div {
    background: #efefef;
    height:35px;
    clear: both;
}


.checkbox-category {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    position: relative;
    font-size: 14px;
}

.checkbox-category-input {
    position: absolute;
    left: 0;
    top: 0;
}

.category-chosen {
    font-size: 12px;
    margin-right: 10px;
    font-weight: bold;
    border: solid 1px #afaeae;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    flex: 0 0 30%;
    max-width: 23.5%;
}

.render-pdf-div {
    border: 1px solid #e2d9d9;
    position: relative;
    margin-right: 15px;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .075);
    height: 34px;
    display: inline-flex;
}

.pdf-render {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.disabled-checkbox {
    pointer-events: none;
}

/* typeahead */
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}
.tt-suggestion p {
    margin: 0;
}

.tt-suggestion:hover {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.twitter-typeahead {
    width: 100%;
}
.tt-input {
    background-color: #fff0f3;
}

/*Datatable custom*/
#table_day_future_length {
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
}

#table_day_future_paginate li {
    display: none;
    list-style-position: inside;
    border: 1px solid #d1c8c8;
    border-radius: inherit;
    margin-right: 5px;
}

#table_day_future {
    min-width: 760px !important;
}

#table_day_future_info {
    display: none !important;
}

/* scroll bar comment booking modal css*/
.comment-content {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.comment-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #cecece;
}

.comment-content::-webkit-scrollbar {
    width: 10px;
    background-color: #cecece;
}

.comment-content::-webkit-scrollbar-thumb {
    background-color: #cecece;
}

/* div show comment css*/
.comment {
    list-style: none;
    margin: 0 15px;
    padding: 0;
}

.comment li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.comment li.left .comment-body {
    margin-left: 10px;
}

.comment li.right .comment-body {
    margin-right: 60px;
}


.comment li .comment-body p {
    margin: 0;
    font-size: 13px;
}

.panel .slidedown .glyphicon, .comment .glyphicon {
    margin-right: 5px;
}

.fa-file-image-o, .fa-file-o :hover {
    cursor: pointer;
    font-size: 24px;
}
.show-image-preview {
    position: relative;
    display: flex;
}
.image-render, .image-comment {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}


/*Image Upload*/
/* image fragment */
.upload-icon, .file-icon {
    font-size: 50px !important;
    color: #bfb6b6;
    padding: 15px;
    text-align: center;
}

.upload-icon {
    cursor: pointer;
}

.file-icon {
    color: #9ee4c7 !important;
}

.file-uploader {
    width: 210px;
    height: 125px;
    border: 1px solid #e2d9d9;
    position: relative;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .075)
}

.file-uploader .file-uploader-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px
}

.file-uploader:hover {
    background-color: #e4e0e0;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .075);
    border-radius: 3px;
}

.file-uploader:hover {
    cursor: pointer;
}

.remove-image-icon {
    position: absolute;
    font-size: 25px !important;;
    right: -7px;
    top: -8px;
    cursor: pointer;
}

.file-uploader .label-upload-image {
    text-align: center;
    font-size: 12px;
}

.file-uploader .image-preview {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 0px;
}

.form-group label {
    font-size: 14px !important;
    margin-bottom: 3px !important;
}
