
.alert {
    position: fixed;
    width: 350px;
    top: -100px;
    right: 25px;
    z-index: 10000;
    display: flex;
}

.alert .fa {
    font-size: 20px;
}

.alert .success-icon {
    color: #3c763d !important;
}

.alert .error-icon {
    color: red !important;
}

.alert span {
    font-size: 14px;
    margin-left: 15px;
}

input.form-control {
    height: 33px !important;
    font-size: 13px !important;
}

textarea.form-control {
    font-size: 14px !important;
}

.loader-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5000;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: .5;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 50px !important;
    height: 50px !important;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 28%;
    left: 48%;

}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none !important;
}

/* scroll css */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding-top: 40px;
}

::-webkit-scrollbar-track {
    border: 1px solid #c6c6c6;
    background: white;
    /*border-radius: 10px;*/

}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 30px;
    width: 8px;
    border: 1px solid #c6c6c6;
    background: white;
    -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0);
    background: -webkit-linear-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
}

::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}


body {
    font-family: "Segoe UI";
    background: #FFFFFF;
    font-size: 14px;
    overflow-x: hidden;
}

body .wrapper {
    margin-top: 57px;
}

.img-circle {
    border-radius: 100%;
}

.nav-sidebar a,
.nav-sidebar a:focus,
.nav-sidebar a:hover {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-sidebar a::before {
    font-family: "themify";
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.theme-color {
    background: #002e43 !important;
}

.navbar {
    padding: 0;
}

.navbar .menu-toggle-button a {
    padding: 1.1rem 1rem;
    color: #FFF;
}

.navbar .menu-toggle-button a:hover {
    background: rgba(0, 0, 0, 0.1);
}

#content {
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar.active {
        margin-left: 0;
    }

    .nav-sidebar {
        position: absolute;
        z-index: 1;
    }
}

.m-t-5 {
    margin-top: 5px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.p-t-35 {
    padding-top: 35px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.p-b-35 {
    padding-bottom: 35px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

.p-l-35 {
    padding-left: 35px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.p-r-35 {
    padding-right: 35px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.p-t-45 {
    padding-top: 45px !important;
}

.m-b-45 {
    margin-bottom: 45px !important;
}

.p-b-45 {
    padding-bottom: 45px !important;
}

.m-l-45 {
    margin-left: 45px !important;
}

.p-l-45 {
    padding-left: 45px !important;
}

.m-r-45 {
    margin-right: 45px !important;
}

.p-r-45 {
    padding-right: 45px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

.m-r-50 {
    margin-right: 50px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}

.m-t-75 {
    margin-top: 75px !important;
}

.p-t-75 {
    padding-top: 75px !important;
}

.m-b-75 {
    margin-bottom: 75px !important;
}

.p-b-75 {
    padding-bottom: 75px !important;
}

.m-l-75 {
    margin-left: 75px !important;
}

.p-l-75 {
    padding-left: 75px !important;
}

.m-r-75 {
    margin-right: 75px !important;
}

.p-r-75 {
    padding-right: 75px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

.p-t-100 {
    padding-top: 100px !important;
}

.m-b-100 {
    margin-bottom: 100px !important;
}

.p-b-100 {
    padding-bottom: 100px !important;
}

.m-l-100 {
    margin-left: 100px !important;
}

.p-l-100 {
    padding-left: 100px !important;
}

.m-r-100 {
    margin-right: 100px !important;
}

.p-r-100 {
    padding-right: 100px !important;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.user-profile {
    padding-top: 20px;
    position: relative;
    text-align: center;
}

.user-profile .user-pro-body {
    display: block;
}

.user-profile .user-pro-body img {
    width: 50px;
    display: block;
    margin: 0 auto 10px;
}

.user-profile .user-pro-body .u-dropdown {
    color: #97999f;
}

.user-profile .user-pro-body .dropdown-menu {
    right: 0;
    width: 80%;
    left: 0;
    margin: 0 auto;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: 85px !important;
}

.user-profile .user-pro-body .dropdown-menu li {
    padding-left: 5px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding: 10px !important;
}

.user-profile p {
    color: black;
}

.navbar-top-links .profile-pic {
    color: #FFF;
    text-decoration: none;
    padding: 0 12px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    disaplay: block;
    padding: 9px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.navbar-top-links .dropdown-menu li:hover {
    background: #f7fafc;
    text-decoration: none;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    position: absolute;
    width: 280px;
    margin-top: 10px;
}

.navbar-top-links .dw-user-box {
    padding: 15px;
}

.navbar-top-links .dw-user-box .u-img {
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.navbar-top-links .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
}

.navbar-top-links .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
}

.navbar-top-links .dw-user-box .u-text h4 {
    margin: 0;
}

.navbar-top-links .dw-user-box .u-text p {
    margin-bottom: 3px;
}

.navbar-top-links .dw-user-box .u-text .btn-danger {
    background: #f33155;
    opacity: .8;
    border-radius: 60px;
    border: 1px solid #f33155;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    color: #FFF;
}

.card-login {
    max-width: 25rem;
}

.content-area {
    margin-top: 35px;
    max-width: 100%;
    padding-left: 250px;
}

.content-area .panel {
    background: #FFF;
    padding: 25px;
}

.top-inner-navbar {
    min-height: 57px;
}

.text-decoration-none:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* button */
.btn-primary {
    background: #023f5b !important;
    border: solid 1px #023f5b !important;
}

.btn-primary:hover {
    background: #0177ae !important;
    border: solid 1px #0177ae !important;
}

.btn-default:hover {
    background: #FFFFFF !important;
    border: solid 1px #6c757d !important;
    color: black;
}

.btn-sm {
    font-size: 14px;
    height: 33px !important;
}

.modal-title {
    margin: 0 auto;
}

.modal-header {
    background: #002e43 !important;
    color: white;
}
.range-icon {
    margin-top: 28px;
    position: relative;
    margin-left: -7px;
}
.form-group select {
    height: 33px !important;
    font-size: 13px;
}

/* image fragment */
.upload-icon, .file-icon {
    font-size: 50px !important;
    color: #bfb6b6;
    padding: 15px;
    text-align: center;
}

.upload-icon {
    cursor: pointer;
}

.file-icon {
    color: #9ee4c7 !important;
}

.file-uploader {
    width: 210px;
    height: 125px;
    border: 1px solid #e2d9d9;
    position: relative;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .075)
}

.file-uploader .file-uploader-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px
}

.file-uploader:hover {
    background-color: #e4e0e0;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .075);
    border-radius: 3px;
}

.file-uploader:hover {
    cursor: pointer;
}

.remove-image-icon {
    position: absolute;
    font-size: 25px !important;;
    right: -7px;
    top: -8px;
    cursor: pointer;
}

.file-uploader .label-upload-image {
    text-align: center;
    font-size: 12px;
}

.file-uploader .image-preview {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 0px;
}

.form-group label {
    font-size: 14px !important;
    margin-bottom: 3px !important;
}

label {
    font-weight: bold;
}

sup {
    color: red;
}

.error-message {
    color: red !important;
    font-weight: bold;
    margin: 0px;
    font-size: 12px;
}

/* toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    bottom: 3px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 18px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    top: 2.5px;
    right: 18px;
}

input:checked + .slider {
    background-color: #002e43;
}

input:focus + .slider {
    box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn-sm {
    font-size: 13px;
}

/* breadcrumb */

.breadcrumb {
    margin-bottom: 0px;
    background: #002e43 !important;
    font-size: 1rem;
}

.breadcrumb-item a {
    color: white !important;
}

.breadcrumb-item.active {
    color: #cccecf !important;
}

.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: solid 1px #595149;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container:hover input[type="radio"][disabled] ~ .checkmark {
    background-color: white;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #595149;
}
/* end radio button custom */

.modal-open .modal {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
