.block-menu {
    color: white;
    line-height: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    background: #105372 !important;
}

.block-menu .control-block-menu {
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 10px;
}

.block-menu .fa-server {
    padding-left: 10px;
}
.block-menu i {
    margin-right: 10px;
}

.block-menu .block-icon {
    float: right;
    margin-right: 20px;
    margin-top: 7px;
}

.block-menu .menu:hover {
    opacity: 1;
    font-size: 13.5px;
}

.block-menu .active-menu {
    opacity: 1;
    font-size: 13px;
    background-color: #2f5cd1;
}

.block-menu .not-active-menu {
    opacity: 1;
    font-size: 13px;
}

.block-menu .menu {
    line-height: 45px;
    padding-left: 20px;
    cursor: pointer;
    color: #ffffff !important;
}

#sidebar {
    height: 100%;
    position: fixed;
    overflow-y: auto;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

#sidebar {
    min-width: 240px;
    max-width: 240px;
    background: #002e43 !important;
    padding-top: 40px;
    -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #2cabe3;
    text-align: center;
}

#sidebar .sidebar-header p {
    color: #FFF;
}
