<div class="loader-container hidden" th:fragment="loader" id="loader">
    <div class="loader"></div>
</div>

<div  th:fragment="progress_bar" id="progress_bar_container" class="hidden custom-progress-bar progress progress-striped active">
    <div class="progress-bar progress-bar-success" id="progress_status" style="width: 1%;animation: progress-bar-stripes 0.2s linear infinite;"></div>
</div>

<div class="alert alert-danger alert-dismissible " id="alert" th:fragment="alert">
    <i class="fa fa-check-circle hidden success-icon"></i>
    <i class="fa fa-times-circle  error-icon"></i>
    <span id="alert_message"></span>
</div>

<div id="image-upload" th:fragment="image-upload(id, width, height)">
    <div class="form-group">
        <input type="file" accept=".png, .jpg" class="hidden file-input" th:id="${id}" th:name="${id}"/>
        <div class="file-uploader"  th:style="${'margin: 0 auto; height:' + height + '; width:' + width}">
            <div class="file-uploader-content" style="padding-bottom: 20px;">
                <i style="margin: 20px 10px 0px 10px" class="fa fa-camera upload-icon"></i>
                <div class="label-upload-image">Tải ảnh lên</div>
            </div>
            <i class="fa fa-times-circle fa-lg remove-image-icon hidden"></i>
            <img src="" class="image-preview hidden"/>
        </div>
    </div>
</div>

<div th:fragment="delete_modal(id,title,message)" class="delete-modal">
    <div class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lineModalLabel" th:text="${title}"></h5>
                </div>
                <div class="modal-body">
                    <div class="message-delete"></div>
                    <h5 style="text-align: center" th:text="${message}"></h5>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal" id="btn_dismiss_modal" role="button">Hủy</button>
                    <button type="button" class="btn btn-primary btn-sm" id="btn_submit_delete" role="button">Xóa</button>
                </div>

            </div>
        </div>
    </div>
    <input hidden="hidden" id="delete_entity_id" />
</div>

<div th:fragment="import_datatable">
    <link rel="stylesheet" type="text/css" href="/libs/datatable/css/dataTables.bootstrap4.css"/>
    <link rel="stylesheet" type="text/css" href="/custom/css/custom_datatable.css"/>
    <script src="/libs/datatable/js/jquery.dataTables.js"></script>
    <script src="/libs/datatable/js/dataTables.bootstrap4.js"></script>
</div>

<div th:fragment="import_date_range_picker">
    <link href="/libs/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <script src="/libs/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="/libs/daterangepicker/locale/vi.js" type="text/javascript"></script>
</div>

<div class="modal fade" id="modal_add_booking" role="dialog" th:fragment="modalSaveBooking" style="overflow-y: auto">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="'Đặt lịch (' + ${store.storeName} +')'"></h5>
            </div>
            <div class="modal-body" style="padding: 1rem 0">
                <form id="add_booking_form">
                    <input id="current_booking_id" hidden/>

                    <div class="red-div">
                        <h6 class="pull-left title-div">Thời gian đặt lịch</h6>
                    </div>
                    <div class="row" style="float: left;margin: unset; width: 100%">
                        <div class="form-input col-md-3" style="padding-bottom: 15px;min-width: 190px; max-width: 190px; ">
                            <label>Ngày</label>
                            <input class="form-control" type="text" disabled :value="timeBookingTitle"/>
                        </div>
                        <div class="form-input col-md-3" style="padding-bottom: 15px; min-width: 180px; max-width: 180px; ">
                            <label>Thời gian</label>
                            <div style="display:flex;">
                                <input class="form-control" style="width: 45%" type="text" disabled :value="startTimeTitle"/>
                                <p style="margin-left: 5px; margin-right: 5px;margin-bottom: auto">~</p>
                                <input class="form-control" style="width: 45%" type="text" disabled :value="endTimeTitle"/>
                            </div>
                        </div>
                        <div class="form-input col-md-2" style="padding-bottom: 15px;min-width: 120px">
                            <label>Số khung</label>
                            <select class="form-control" id="number_frame_consecutive" v-model="numberFrameConsecutive"
                                    style="padding-top: 3px; font-size: 13px">
                                <option v-for="number in mapNumberFrameConsecutiveCanChoose.arrayNumber" :value="number"
                                        :class="number < minNumberFrameConsecutive ? 'hidden': ''">
                                    {{number}} khung
                                </option>
                            </select>
                        </div>
                        <div class="form-input col-md-3">
                            <label>Trạng thái</label>
                            <select class="form-control" id="status_booking" v-model="status" disabled
                                    style="padding-top: 3px; font-size: 13px" >
                                <option value="WAITING_CONFIRM">Chờ xác nhận</option>
                                <option value="SUCCESS" selected>Chờ thực hiện</option>
                                <option value="IN_PROCESS">Đang thực hiện</option>
                                <option value="DONE">Đã hoàn thành</option>
                                <option value="CANCELED">Đã hủy</option>
                            </select>
                        </div>
                    </div>
                    <div class="red-div">
                        <h6 class="pull-left title-div">Thông tin khách hàng</h6>
                    </div>
                    <div style="padding-top: 15px;">
                        <div style="float: left; width: 20%" id="patient_code_div">
                            <div class="row col-md-6">
                                <div class="col-md-3">

                                </div>
                            </div>
                            <label style="padding-left: 15px;">Mã khách hàng
                                <sup style="color: red">*</sup>
                            </label>
                            <div class="form-input col-md-12 customer-info">
                                <input class="form-control" type="text"
                                       :style="isEnableCreateNewCustomer ? 'width: 80%; display: unset' : 'width: 100%; display: unset'"
                                       name="patient_code" id="patient_code" v-model="patientCode" placeholder="" readonly/>

                            </div>

                        </div>
                        <div style="float: right; width: 80%" id="customer_name_div">
                            <div class="row">
                                <div class="col-md-4">
                                    <label style="padding-left: 15px;">Tên khách hàng
                                        <sup style="color: red">*</sup>
                                    </label>
                                    <div class="form-input col-md-12 customer-info">
                                        <input class="form-control" autocomplete="off" type="search"
                                               name="customer_name" id="customer_name" placeholder="Tên khách hàng" v-model="customerName" :disabled="id !== ''"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label style="padding-left: 15px;">Số điện thoại
                                        <sup style="color: red">*</sup>
                                    </label>
                                    <div class="form-input col-md-12 customer-info">
                                        <input class="form-control"
                                               name="customer_phone" id="customer_phone" placeholder="Số điện thoại" v-model="customerPhone" pattern="[0-9]" maxlength="10"/>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-input col-md-12 customer-info">
                                        <button class="btn btn-primary btn-sm" id="btn_create_new_code" type="button" @click="createNewCustomer()"
                                                style="width: 100%;float: left;margin-top: 25px;" v-if="isEnableCreateNewCustomer">Thêm khách hàng
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="float: left; width: 100%" class="div-note">
                            <label style="padding-left: 15px;">Ghi chú</label>
                            <div class="form-input col-md-12 customer-info">
                                    <textarea class="form-control" v-model="note" rows="10"
                                              name="note" id="note" placeholder="Ghi chú" contenteditable="true"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="red-div" v-if="listCategoryHasChosenId.length > 0">
                        <h6 class="pull-left title-div">Chi phí dự tính</h6>
                    </div>
                    <div style="padding: 15px" v-if="listCategoryHasChosenId.length > 0">
                        <input class="form-control" :value="totalMoneyFromCategoryChosen" style="color: red; font-weight: bolder" disabled/>
                        <div class="row" style="margin: 15px 0px;">
                            <div class="col-md-3 category-chosen" v-for="categoryHasChosen in listCategoryHasChosen">
                                    <span style="display: block; float: left;">{{categoryHasChosen.categoryName}} （{{getTextNumberFrameAutoFillForCategory(categoryHasChosen.numberFrameConsecutiveAutoFill)}}）<br>
                                    {{formatMoney(categoryHasChosen.moneyExcludeTax)}}VND</span>
                            </div>
                        </div>
                    </div>

                    <div class="red-div" v-if="!isFromScreenCustomer">
                        <h6 class="pull-left title-div">Thông tin khác</h6>
                    </div>
                    <div style="padding-top: 15px;padding-left: 15px" v-if="!isFromScreenCustomer">
                        <label>Danh mục dịch vụ</label>
                        <div class="row" style="margin-right: unset;">
                            <div class="col-md-4" v-for="category in listCategoryForModalBooking">
                                <!--                                    <label class="checkbox-category" th:classappend="${isCanEditBookingScreen} != true ? 'disabled-checkbox':''">-->
                                <label class="checkbox-category">
                                    <input class="checkbox-category-input" type="checkbox" v-model="listCategoryHasChosenId" :value="category.id" @click="changeNumberFrameConsecutive(category.id, category.numberFrameConsecutiveAutoFill)">
                                    <span style="display: block; float: left;">{{category.categoryName}} （{{getTextNumberFrameAutoFillForCategory(category.numberFrameConsecutiveAutoFill)}}）<br>
                                    {{formatMoney(category.moneyExcludeTax)}}VND</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--  List Booking Of Customer -->
                    <div class="red-div" :class="currentCustomerId === '' ? 'hidden' : ''">
                        <h6 class="pull-left title-div">Lịch sử đặt lịch</h6>
                        <label id="show_booking_future_label" data-toggle="collapse" data-target="#booking_future" class="pull-right"
                               style="color: blue; text-decoration: underline solid;padding-right: 15px; padding-top: 10px;">
                            Xem thêm
                        </label>
                    </div>
                    <div class="form-group" style="padding-left: 15px" :class="currentCustomerId === '' ? 'hidden' : ''">
                        <br>
                        <div id="booking_future" class="collapse show">
                            <!--                                <div class="form-group" style="margin-right: 20px; overflow-x: auto">-->
                            <div class="form-group" style="margin-right: 20px;">
                                <table class="table dataTables_wrapper responsive" id="table_day_future" style="width: 100%; font-size: 11px;min-width: 400px">
                                    <thead>
                                    <tr style="font-size: 12px">
                                        <th class="text-center" style="width: 30% !important;">Ngày đặt lịch</th>
                                        <th class="text-center" style="width: 15% !important;">Thời gian</th>
                                        <th class="text-center" style="width: 10% !important;">Số khung</th>
                                        <th class="text-center" style="width: 30%">Dịch vụ đặt</th>
                                        <th class="text-center" style="width: 15%">Thời gian đặt</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="update_booking_div" :class="id === '' ? 'hidden' : ''">
                        <!--                        <div class="update-status-div"></div>-->
                        <!--                        <div class="red-div">-->
                        <!--                            <h6 class="pull-left title-div">予約状況</h6>-->
                        <!--                        </div>-->
                        <!--                        <div style="padding-top: 15px;">-->
                        <!--                            <div style="width: 100%">-->
                        <!--                                <div class="form-input col-md-12">-->
                        <!--                                    <select id="booking_status" class="form-control"-->
                        <!--                                            style="font-size: 13px !important; height: 33px !important; margin-bottom: 15px;" v-model="status">-->
                        <!--                                        <option value="WAITING_CONFIRM">Chờ xác nhận</option>-->
                        <!--                                        <option value="SUCCESS">Đặt thành công</option>-->
                        <!--                                        <option value="IN_PROCESS">Đang thực hiện</option>-->
                        <!--                                        <option value="CANCELED">Đã hủy</option>-->
                        <!--                                        <option value="DONE">Hoàn thành</option>-->
                        <!--                                    </select>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <comment-div v-if="id !== ''" :booking-id="id" :customer-id="customerId" :list-comment="listComment"
                        :is-from-screen-customer="isFromScreenCustomer"></comment-div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-light"
                        data-dismiss="modal" role="button">Hủy bỏ
                </button>
                <!--                    <button type="button" class="btn btn-sm btn-primary" role="button" id="btn_submit_booking" th:if="${isCanEditBookingScreen} == true">Thêm mới-->
                <button type="button" class="btn btn-sm btn-primary" role="button" id="btn_submit_booking">Thêm mới
                </button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="paycheck_modal(id,title,message)" class="paycheck-modal">
    <div class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lineModalLabel" th:text="${title}"></h5>
                </div>
                <div class="modal-body">
                    <div class="message-delete"></div>
                    <h5 style="text-align: center" th:text="${message}"></h5>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal" id="btn_dismiss_modal" role="button">Hủy</button>
                    <button type="button" class="btn btn-primary btn-sm" id="btn_submit_paycheck" role="button">Xác nhận</button>
                </div>

            </div>
        </div>
    </div>
    <input hidden="hidden" id="delete_entity_id" />
</div>

