<div class="modal fade" id="modal_add_booking" role="dialog" data-th-fragment="add_booking_modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đặt lịch</h4>
            </div>
            <div class="modal-body" style="padding: 1rem 0">
                <form id="add_booking_client_form">
                    <input id="current_booking_id" hidden/>

                    <div class="red-div">
                        <h6 class="pull-left title-div">Thông tin dịch vụ</h6>
                    </div>
                    <div style="padding-top: 15px">
                        <div class="row" style="margin: 0; font-size: 14px !important; margin-bottom: 3px !important;">
                            <div class="col-md-12"><h6 style="font-weight: bolder;text-transform: uppercase" id="service_department_name">
                                [[${serviceDepartment.name} + ' - ' +${store.storeName}]]</h6></div>
                        </div>
                        <div class="row" style="margin: 0 0 10px 0; font-size: 14px !important;">
                            <div class="col-md-6"><span style="font-weight: bolder">Địa chỉ: [[${store.address}]]</span></div>
                            <div class="col-md-6"><span style="font-weight: bolder">SĐT: [[${store.phone}]]</span></div>
                            <div class="col-md-6"><span style="font-weight: bolder">Thời gian: </span>
                                <span id="time_booking_span" style="font-weight: bold; color: red"></span>
                            </div>

                            <div class="col-md-6"><span style="font-weight: bolder">Email: [[${store.email}]]</span></div>
                        </div>
                    </div>

                    <div class="red-div">
                        <h6 class="pull-left title-div">Thông tin khách hàng</h6>
                    </div>
                    <div style="padding-top: 15px;">
                        <div class="row" style="margin-right: unset;margin-left: unset; margin-bottom: unset !important">
                            <div style="float: left;" class="col-md-3">
                                <label>SĐT<sup style="color: red">*</sup></label>
                                <div class="form-input customer-info">
                                    <input class="form-control" type="text" pattern="[0-9]"
                                           name="customer_phone" id="customer_phone" maxlength="10" placeholder="Số điện thoại" th:value="${customer?.phone}"/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Họ tên người đặt<sup style="color: red">*</sup></label>
                                <div class="form-input customer-info">
                                    <input class="form-control" name="customer_name" id="customer_name" placeholder="Họ tên" th:value="${customer?.name}"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Email<sup style="color: red">*</sup></label>
                                <div class="form-input customer-info">
                                    <input class="form-control"
                                           name="customer_email" id="customer_email" placeholder="Email" th:value="${customer?.email}"/>
                                </div>
                            </div>
                            <div class="form-input col-md-2" style="padding-bottom: 15px;min-width: 120px">
                                <label>Thời gian</label>
                                <select class="form-control" id="number_frame_consecutive" v-model="numberFrameConsecutive"
                                        style="padding-top: 3px; font-size: 13px">
                                    <option v-for="number in mapNumberFrameConsecutiveCanChoose.arrayNumber" :value="number"
                                            :class="number < minNumberFrameConsecutive ? 'hidden': ''">
                                        {{number*15}} phút
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div style="width: 100%; margin-bottom: 15px" class="div-note">
                            <label style="padding-left: 15px;">Yêu cầu khác</label>
                            <div class="form-input col-md-12 ">
                                    <textarea class="form-control"
                                              name="booking_note" id="booking_note" placeholder="Yêu cầu khác" contenteditable="true"></textarea>
                            </div>
                        </div>

                        <div class="red-div" v-if="listCategoryHasChosenId.length > 0">
                            <h6 class="pull-left title-div">Chi phí và thời gian dự tính</h6>
                        </div>
                        <div style="padding: 15px" v-if="listCategoryHasChosenId.length > 0">
                            <input class="form-control" :value="totalMoneyFromCategoryChosen" style="color: red; font-weight: bolder" disabled/>
                            <div class="row" style="margin: 15px 0px;">
                                <div class="col-md-3 category-chosen" v-for="categoryHasChosen in listCategoryHasChosen">
                                    <span style="display: block; float: left;">{{categoryHasChosen.categoryName}} （{{getTextNumberFrameAutoFillForCategory(categoryHasChosen.numberFrameConsecutiveAutoFill)}}）<br>
                                    {{formatMoney(categoryHasChosen.moneyExcludeTax)}}VND</span>
                                </div>
                            </div>
                        </div>

                        <div class="red-div" v-if="!isFromScreenCustomer">
                            <h6 class="pull-left title-div">Thông tin khác</h6>
                        </div>
                        <div style="padding-top: 15px;padding-left: 15px" v-if="!isFromScreenCustomer">
                            <label>Danh mục dịch vụ</label>
                            <div class="row" style="margin-right: unset;">
                                <div class="col-md-4" v-for="category in listCategoryForModalBooking">
                                    <!--                                    <label class="checkbox-category" th:classappend="${isCanEditBookingScreen} != true ? 'disabled-checkbox':''">-->
                                    <label class="checkbox-category">
                                        <input class="checkbox-category-input" type="checkbox" v-model="listCategoryHasChosenId" :value="category.id" @click="changeNumberFrameConsecutive(category.id, category.numberFrameConsecutiveAutoFill)">
                                        <span style="display: block; float: left;">{{category.categoryName}} （{{getTextNumberFrameAutoFillForCategory(category.numberFrameConsecutiveAutoFill)}}）<br>
                                    {{formatMoney(category.moneyExcludeTax)}}VND</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-light" data-dismiss="modal" role="button">Hủy
                </button>
                <button type="button" class="btn btn-sm btn-primary" role="button" id="btn_submit_booking">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="modal_after_save_booking" role="dialog" data-th-fragment="add_booking_modal">-->
<!--    <div class="modal-dialog modal-lg" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h4 class="modal-title">Đặt lịch thành công</h4>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-sm btn-light" data-dismiss="modal" role="button">Hủy</button>-->
<!--                <button type="button" class="btn btn-sm btn-primary" role="button" id="btn_redirect_booking_history">Danh sách lịch đã đặt</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
