<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout-client}">
<head>
    <title>Trang chủ</title>
    <script type="text/javascript" src="/custom/js/client/homepage.js"></script>
    <script type="text/javascript" src="/custom/js/client/login_user.js"></script>
</head>

<body>
<section class="feature_area p_120" style="padding-bottom: 250px;" data-layout-fragment="section-content">
    <div class="container" style="">
        <div class="feature_inner row">
            <div class="col-lg-4 col-md-6" th:each="store : ${listStore}">
                <div class="feature_item" th:id="${store.id}">
                    <div class="col-md-12"><h6 th:text ="${store.storeName}"></h6></div>
                    <div class="col-md-12">
                        <p th:text="${'Liên hệ: ' + store.phone}" style="font-size: 14px; font-family: Roboto;"></p>
                    </div>
                    <div class="col-md-12">
                        <p th:text="${'Địa chỉ: ' + store.address}" style="font-size: 14px; font-family: Roboto;"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace = "client/login_account_modal:: login_account_kit_modal"></div>
</section>