<div class="modal fade" id="modal_login" role="dialog" data-th-fragment="login_account_kit_modal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xác thực số điện thoại</h4>
            </div>
            <div class="modal-body" style="padding: 1rem 0; text-align: center">
                <h5>Bạn cần xác thực số điện thoại để tiếp tục</h5>
                <form id="form_login_sms">
                    <div>
                        <select id="country_code" hidden>
                            <option value="+84">Viet Nam</option>
                        </select>
                        <div class="form-group row">
                            <div class="col-md-4" style=" padding-right: 0px; margin-left: 15px">
                                <input class="form-control" placeholder="Nhập số điện thoại" id="phone_number" name="phone_number" type="number"
                                       style="font-size: 13px;">
                            </div>

                            <div class="col-md-4" style="padding-right: 0px">
                                <button id="verify_phone_number_btn" class="btn btn-default"
                                        style="border: 1px solid #ced4da; border-radius: .25rem; width: 100%; background-color: #ccc3c3">
                                    Gửi mã xác minh
                                </button>
                            </div>
                        </div>
                        <div class="form-group" style="text-align: center; text-align: center; margin-left: 15px">
                            <div id="recaptcha_container"></div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4" style="padding-right: 0px; margin-left: 15px">
                                <input type="number" class="form-control" id="verify_code" name="verify_code" style="font-size: 13px"
                                       placeholder="Nhập mã xác minh" autocomplete="off">
                            </div>
                            <div class="col-md-4" style="padding-right: 0px">
                                <button id="verify_code_btn" class="btn btn-default"
                                        style="border: 1px solid #ced4da; border-radius: .25rem; width: 100%; background-color: #ccc3c3">
                                    Xác minh
                                </button>
                            </div>
                            <div class="col-md-2">
                                        <span id="verify_code_failed_notification"
                                              style="display: block; float: right; height: 34px; width: 34px; text-align: center; border: 1px solid #868f96; border-radius: 18px; background-color: red"><i
                                                style="color: white; padding-top: 7px"
                                                class="glyphicon glyphicon-remove"></i></span>
                                <span id="verify_code_success_notification"
                                      style="display: none; float: right; height: 34px; width: 34px; text-align: center; border: 1px solid #868f96; border-radius: 18px; background-color: #31b131"><i
                                        style="color: white; padding-top: 7px"
                                        class="glyphicon glyphicon-ok"></i></span>
                            </div>
                        </div>
                        <button class="fb btn-primary" id="btn_submit_login"
                                style="border: none; border-radius: 5px; height: 35px; padding-left: 10px; padding-right: 10px;">
                            Xác thực đăng nhập
                        </button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
