<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout-client}">
<head>
    <title th:text="${currentStore.storeName}"></title>
    <script type="text/javascript" src="/custom/js/client/service_department.js"></script>
    <style>
        .form-group label {
            font-weight: bold;
            float: left;
            color: black;
            font-size: 14px;
            margin-bottom: 2px;
        }
        .form-group select {
            font-size: 14px !important;
            height: 35px !important;
        }

        .store-info p {
            font-size: 12px;
        }
        .service_department {
            border: #eee 1px solid;
            padding: 15px;
            border-radius: 10px;
            background: white;
            margin-bottom: 15px;
        }

        .service_department:hover {
            border: #f00 1px solid;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    </style>
</head>

<body>

<section class="blog_area p_120" style="background: rgba(0, 0, 0, 0.08);" data-layout-fragment="section-content">
    <input hidden th:value="${currentStore.id}" id="currentStoreId">
    <input hidden th:value="${storeAuthId}" id="store_auth_id">
    <div class="row" style="margin-left: 30px !important; margin-right: 30px!important;">
        <div class="col-lg-3" style="max-width: 20%">
            <div class="blog_right_sidebar" style="height: 100%">
                <aside class="single-sidebar-widget">
                    <div style="font-size: 1rem; font-weight: bold; margin-bottom: 10px">
                        <i class="fa fa-filter" aria-hidden="true"></i> BỘ LỌC TÌM KIẾM
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <select class="form-control" id="city_select">
                            <option value="0">Tất cả</option>
                            <option value="Tp.Hà Nội">Tp.Hà Nội
                            <option value="TP  HCM">Tp.Hồ Chí Minh
                            <option value="Tp.Đà Nẵng">Tp.Đà Nẵng
                            <option value="Tp.Cần Thơ">Tp.Cần Thơ
                            <option value="Tp.Hải Phòng">Tp.Hải Phòng
                            <option value="An Giang">An Giang
                            <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu
                            <option value="Bắc Giang">Bắc Giang
                            <option value="Bắc Kạn">Bắc Kạn
                            <option value="Bạc Liêu">Bạc Liêu
                            <option value="Bắc Ninh">Bắc Ninh
                            <option value="Bến Tre">Bến Tre
                            <option value="Bình Định">Bình Định
                            <option value="Bình Dương">Bình Dương
                            <option value="Bình Phước">Bình Phước
                            <option value="Bình Thuận">Bình Thuận
                            <option value="Bình Thuận">Bình Thuận
                            <option value="Cà Mau">Cà Mau
                            <option value="Cao Bằng">Cao Bằng
                            <option value="Đắk Lắk">Đắk Lắk
                            <option value="Đắk Nông">Đắk Nông
                            <option value="Điện Biên">Điện Biên
                            <option value="Đồng Nai">Đồng Nai
                            <option value="Đồng Tháp">Đồng Tháp
                            <option value="Đồng Tháp">Đồng Tháp
                            <option value="Gia Lai">Gia Lai
                            <option value="Hà Giang">Hà Giang
                            <option value="Hà Nam">Hà Nam
                            <option value="Hà Tĩnh">Hà Tĩnh
                            <option value="Hải Dương">Hải Dương
                            <option value="Hậu Giang">Hậu Giang
                            <option value="Hòa Bình">Hòa Bình
                            <option value="Hưng Yên">Hưng Yên
                            <option value="Khánh Hòa">Khánh Hòa
                            <option value="Kiên Giang">Kiên Giang
                            <option value="Kon Tum">Kon Tum
                            <option value="Lai Châu">Lai Châu
                            <option value="Lâm Đồng">Lâm Đồng
                            <option value="Lạng Sơn">Lạng Sơn
                            <option value="Lào Cai">Lào Cai
                            <option value="Long An">Long An
                            <option value="Nam Định">Nam Định
                            <option value="Nghệ An">Nghệ An
                            <option value="Ninh Bình">Ninh Bình
                            <option value="Ninh Thuận">Ninh Thuận
                            <option value="Phú Thọ">Phú Thọ
                            <option value="Quảng Bình">Quảng Bình
                            <option value="Quảng Bình">Quảng Bình
                            <option value="Quảng Ngãi">Quảng Ngãi
                            <option value="Quảng Ninh">Quảng Ninh
                            <option value="Quảng Trị">Quảng Trị
                            <option value="Sóc Trăng">Sóc Trăng
                            <option value="Sơn La">Sơn La
                            <option value="Tây Ninh">Tây Ninh
                            <option value="Thái Bình">Thái Bình
                            <option value="Thái Nguyên">Thái Nguyên
                            <option value="Thanh Hóa">Thanh Hóa
                            <option value="Thừa Thiên Huế">Thừa Thiên Huế
                            <option value="Tiền Giang">Tiền Giang
                            <option value="Trà Vinh">Trà Vinh
                            <option value="Tuyên Quang">Tuyên Quang
                            <option value="Vĩnh Long">Vĩnh Long
                            <option value="Vĩnh Phúc">Vĩnh Phúc
                            <option value="Yên Bái">Yên Bái
                            <option value="Phú Yên">Phú Yên
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Dịch vụ cung cấp</label>
                        <select class="form-control" id="service_select">
                            <option value="0">Tất cả</option>
                            <option th:each="serviceType : ${listService}"  th:value="${serviceType.id}" th:text="${serviceType.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Lượt lịch đã thực hiện</label>
                        <select class="form-control" id="number_booking_dir_select">
                            <option value="desc">Giảm dần</option>
                            <option value="asc">Tăng dần</option>
                        </select>
                    </div>
                </aside>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="blog_left_sidebar">
                <article class="row blog_item">

                </article>
                <nav class="blog-pagination justify-content-center d-flex">

                </nav>
            </div>
        </div>
    </div>
</section>

