<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout-client}">
<head>
    <title th:text="${serviceDepartment.name}"></title>
    <style>
        .btn-slot + .tooltip .tooltip-inner {
            background-color: red;
        }

        .btn-slot + .tooltip .tooltip-arrow {
            background-color: red !important;
        }

        .service-department-description, .service-department-rating{
            background: white;
            padding: 20px;
        }

        .store-param-text {
            color: rgba(0, 0, 0, 0.84);
            font-size: 14px;
        }

        .store-param-value {
            color: red;
            font-size: 14px;
        }

        .row {
            margin-bottom: 15px !important;
        }

        .btn-slot {
            padding-right: unset;
            padding-top: 0.375rem;
            padding-left: unset;
            font-size: 14px;
            height: 38px;
            width: 120px;
            margin-right: 10px;
            text-align: center;
            font-weight: unset;
        }

        .btn-slot:hover, .btn-slot:active {
            background-color: red !important;
            color: white !important;
            border-color: red !important;
        }

        #btn_booking {
            margin-top: unset;
            width: 120px;
            font-size: 14px;
        }

        #modal_add_booking label {
            font-weight: bold;
            color: black;
            font-size: 14px;
            margin-bottom: unset;
        }

        #modal_add_booking input, #modal_add_booking textarea {
            font-size: 13px;
        }

        #modal_add_booking h6 {
            font-size: 15px;
        }

        .title-div {
            color: red !important;
        }

        .error-message {
            color: red !important;
            font-weight: bold;
            margin: 0px;
            font-size: 12px;
        }

        #out_slot_div {
            color: red;
            font-size: 20px;
            font-weight: bold;
            border: solid red 1px;
            padding: 8px 20px 8px 20px;
            margin-top: 20px;
        }

        .rating-comment {
            padding-left: 10px;
            font-size: 14px;
            border-bottom: solid 1px gray;
            padding-bottom: 10px;
        }

        .rating-comment-content {
            margin-top: 10px;
        }

        #comment-client{
            cursor:zoom-in;
            cursor:-webkit-zoom-in;
            cursor:-moz-zoom-in;
            width:100px;
        }
    </style>
    <link href="/custom/css/booking.css" rel="stylesheet"/>
    <script src="/custom/js/common/init_datepicker.js"></script>
    <script src="/custom/js/common/config_validate.js"></script>
    <script src="/custom/js/client/service_department_detail/service_department_detail.js"></script>
    <script src="/custom/js/store/service_department/booking/render_list_booking.js"></script>
    <script src="/custom/js/client/service_department_detail/booking_client.js"></script>
    <script src="/custom/js/client/login_user.js"></script>
</head>

<body style="background: rgba(0, 0, 0, 0.08)">
<section class="portfolio_details_area p_120" data-layout-fragment="section-content">
    <input id="status" th:value="${status}" hidden/>
    <!--    <input id="isInBlackList" th:value="${isInBlackList}" hidden/>-->

    <input hidden id="service_department_id" th:value="${serviceDepartment.authId}">
    <div th:replace="component/component :: import_date_range_picker"></div>
    <div class="container">
        <div class="portfolio_details_inner">
            <div class="row" style="padding: 20px; background: white; margin-bottom: 10px">
                <div class="col-md-6">
                    <div class="left_img">
                        <img class="img-fluid" style="width: 100%; height: 300px" th:src="${serviceDepartment.imageUrl}"
                             alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio_right_text" style="padding-left: unset">
                        <h6 th:text="${serviceDepartment.name + ' (' + serviceDepartment.storeName + ')'}"></h6>

                        <div class="row vote-infor">
                            <div class="col-md-3" style="border-right: solid 2px rgba(0,0,0,.39);">
                                <span style="color: red; font-weight: bolder">[[ ${#lists.size(ratingDto.listRatingEntity)}]]</span>
                                đánh giá
                            </div>
                            <div class="col-md-6" style="">
                                <span style="color: red;font-weight: bolder">[[${serviceDepartment.numberDoneBooking}]]</span>
                                lịch đã thực hiện
                            </div>
                        </div>

                        <div class="booking-slot row">
                            <div class="col-md-12"
                                 style="background: rgba(0,0,0,.02); font-size: 15px; font-weight: bold; padding: 10px;margin-bottom: 10px">

                                <div class="form-inline">
                                    <div class="form-group">
                                        <span style="margin-right: 20px">CHỌN NGÀY</span>
                                        <input class="form-control" id="choose_day">
                                    </div>
                                </div>
                            </div>
                            <div id="out_slot_div"><span>HẾT CHỖ</span></div>
                            <div class="list-slot" style="margin-top: 20px; width: 100%; margin-bottom: 10px">
                            </div>
                            <div>
                                <button class="btn-primary hidden" style="cursor: pointer" id="btn_booking">Đặt lịch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="store-info row" style="background: white; padding:20px;margin-bottom: 10px">
                <div class="col-md-2">
                    <img class="img-fluid" style="width: 200px;height: 100%;" th:src="${serviceDepartment.imageUrl}"
                         alt="">
                </div>
                <div class="col-md-4" style="border-right: solid 2px rgba(0,0,0,.39)">
                    <p th:text="${store.storeName}"
                       style="font-size: 14px; text-transform: uppercase; font-weight: bold"></p>
                    <p th:utext="${serviceDepartment.description}" style="font-size: 14px;"></p>
<!--                    <a th:href="@{'/stores/' + ${store.storeAuthId}}" class="blog_btn btn_detail"-->
<!--                       style="margin-top: unset">Xem chi tiết</a>-->
                </div>
                <div class="col-md-6" style="padding-top: 20px">
                    <ul class="list">
                        <li style="margin-bottom: 10px">
                            <span class="store-param-text">Số dịch vụ cung cấp:</span>
                            <span class="store-param-value" th:text="${store.numberServiceDepartment}"></span>
                        </li>
                        <li>
                            <span class="store-param-text">Số lịch đã thực hiện </span>
                            <span class="store-param-value" th:text="${serviceDepartment.numberDoneBooking}"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row service-department-description">
                <style>
                    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
                        color: #ffffff;
                        background-color: #003d7e;
                        border-color: #dee2e6 #dee2e6 #fff;
                    }

                    .nav-item {
                        font-size: 14px;
                    }

                    .tab-pane {
                        padding-left: unset;
                    }

                    .carousel img {
                        width: 100%;
                        height: 450px;
                    }
                </style>
                <ul class="nav nav-tabs" style="margin-bottom: 10px;">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#service_department_description">MÔ
                            TẢ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#service_prices">BẢNG GIÁ DỊCH VỤ</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" style="width: 100%">
                    <div class="tab-pane active container" id="service_department_description">
                        <div th:remove="tag" th:utext="${serviceDepartment.description}"></div>
                    </div>

                    <div class="tab-pane container" id="service_prices">
                        <table class="table table-bordered table-striped">
                            <thead class="table-warning">
                                <td>Tên dịch vụ</td>
                                <td>Thời gian thực hiện</td>
                                <td>Chi phí</td>
                            </thead>
                            <tbody>
                                 <tr th:if="${listCategory.empty}">
                                    <td colspan="2"> Không có dữ liệu</td>
                                 </tr>
                                 <tr th:each="category : ${listCategory}">
                                    <td><span th:text="${category.categoryName}">  </span></td>
                                    <td><span th:text="${(category.numberFrameConsecutiveAutoFill)*15 + ' phút'}">  </span></td>
                                    <td><span th:inline ="text">
                                    [[${#numbers.formatDecimal(category.moneyExcludeTax, 0, 'COMMA', 0, 'POINT')}]] VND</span></td>
                                 </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row service_department_image" id="service_department_image">
                <div class="col-12" style="background: rgba(0,0,0,.02); font-size: 15px; display:flex; font-weight: bold; padding: 10px;margin-bottom: 10px">
                    <span>Hình ảnh khách hàng</span>
                </div>
                    <div class="row" style="display: flex;flex-wrap: wrap;padding: 0 4px;">
                         <div class="column" style="flex: 25%;max-width: 25%;padding: 0 4px;"
                             th:each="image, i: ${listImage}">
                             <img th:src="${image.imageUrl}" th:alt="${image.title}" style=" margin-top: 8px;pxvertical-align: middle;width: 100%;">
                         </div>

                </div>
            </div>

            <div class="row service-department-rating">
                <div class="col-md-12"
                     style="background: rgba(0,0,0,.02); font-size: 15px; display:flex; font-weight: bold; padding: 10px;margin-bottom: 10px">
                    <span>ĐÁNH GIÁ</span>
                </div>
                <div class="col-md-12 rating-comment" th:each="ratingEntity : ${ratingDto.listRatingEntity}">
                    <div class="phone_client">[[${ratingEntity.phoneNumber}]]</div>
                    <div class="rating-comment-content" th:each="commentEntity : ${ratingEntity.listComment}">
                        [[${commentEntity.comment}]]
                        <div style="height: 50px;width: 50px;margin-right: 5px;">
                            <a><img id="comment_client" class="image-comment comment-client" th:src="${commentEntity.imageUrl}"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane container" id="service_department_map">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100%" height="500" id="gmap_canvas"
                                th:src="@{'https://maps.google.com/maps?q=' + ${store.storeName + ' ' + store.address} + '&t=&z=15&ie=UTF8&iwloc=&output=embed'}"
                                frameborder="0"
                                scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 100%;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="client/add_booking_modal :: add_booking_modal"></div>
    <div th:replace="client/login_account_modal :: login_account_kit_modal"></div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function formatMoney(money) {
            return money.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
        }
    </script>
</section>
