<ol class="breadcrumb" data-th-fragment="breadcrumb-system">
    <li class="breadcrumb-item">
        <a href="#">Hệ thống</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" th:text="${breadcrumbName}"></li>
</ol>

<ol class="breadcrumb" data-th-fragment="breadcrumb-store">
    <li class="breadcrumb-item" sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')">
        <a th:href="@{'/system/store'}" th:text="${'Phòng khám: ' + store.storeName }"></a>
    </li>
    <!-- for storeAdmin or service department admin-->
    <li class="breadcrumb-item" sec:authorize="hasRole('ROLE_STORE_ADMIN') or hasRole('ROLE_SERVICE_DEPARTMENT_ADMIN')">
        <a href="#" th:text="${'Phòng khám (' + store.storeName + ')'}"></a>
    </li>

    <li class="breadcrumb-item active" aria-current="page" th:text="${breadcrumbName}"></li>
</ol>

<ol class="breadcrumb" data-th-fragment="breadcrumb-service-department">
    <li class="breadcrumb-item" sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')">
        <a th:href="@{'/system/store'}" th:text="${'Phòng khám: ' + store.storeName }"></a>
    </li>
    <!-- for storeAdmin-->
    <li class="breadcrumb-item" sec:authorize="hasRole('ROLE_STORE_ADMIN') or hasRole('ROLE_SYSTEM_ADMIN')">
        <a th:href="@{'/store/' + ${store.storeAuthId} +'/service_department'}" th:text="${'Mảng dịch vụ: (' + serviceDepartment.name + ')'}"></a>
    </li>
    <!-- for serviceDepartmentAdmin-->
    <li class="breadcrumb-item" sec:authorize="hasRole('ROLE_SERVICE_DEPARTMENT_ADMIN')">
        <a href="#" th:text="${'Mảng dịch vụ: (' + serviceDepartment.name + ')'}"></a>
    </li>

    <li class="breadcrumb-item active" aria-current="page" th:text="${breadcrumbName}"></li>
</ol>

<ol class="breadcrumb" data-th-fragment="breadcrumb-staff">
<!--    <li class="breadcrumb-item" sec:authorize="hasRole('ROLE_SERVICE_DEPARTMENT_STAFF')">-->
<!--        <a th:text="${serviceDepartment.name}"></a>-->
<!--    </li>-->
    <li class="breadcrumb-item active" aria-current="page" th:text="${breadcrumbName}"></li>
</ol>
