<header class="header_area navbar_fixed" data-th-fragment="header" style="" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="main_menu" id="mainNav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620" style="max-width: 1650px;">
                <div class="navbar-brand logo_h">
                    <a style='font-weight: 500;font-family: "Brush Script MT", cursive;
                        text-transform: uppercase; color: #e0a800; padding: 0px; display: inline-block;'
                         href="/"><img src="/custom/images/logo.jpg" alt="logo" style="width: 85px">PHYSIOTHERAPY CLINIC
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Actual search box -->
                <div class="has-search col-md-5" style="margin-left: 20px" id="scrollable-dropdown-menu">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" id="search_bar" class="form-control" style="font-size: 14px" placeholder="Tìm kiếm dịch vụ, phòng khám">
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent" style="font-weight: bolder; min-width: 500px">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Trang chủ</a>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Danh mục dịch vụ
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item" th:each="serviceDepartment : ${listServiceDepartment}">
                                    <a class="nav-link" th:href="@{'/services/' + ${serviceDepartment.authId} }"
                                       th:text="${serviceDepartment.name + ' ('+ serviceDepartment.storeName + ')'}"></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/booking_history">Cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Liên hệ</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <script src="/custom/js/client/login_user.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase.js"></script>
<!--    FOR LOCALHOST-->
<!--    <script>-->
<!--        // Your web app's Firebase configuration-->
<!--        // For Firebase JS SDK v7.20.0 and later, measurementId is optional-->
<!--        var firebaseConfig = {-->
<!--            apiKey: "AIzaSyBgAb5WY4BR4ltlzgNf4Use5_LUnLbBvpY",-->
<!--            authDomain: "clinic-booking-5be1d.firebaseapp.com",-->
<!--            databaseURL: "https://clinic-booking-5be1d.firebaseio.com",-->
<!--            projectId: "clinic-booking-5be1d",-->
<!--            storageBucket: "clinic-booking-5be1d.appspot.com",-->
<!--            messagingSenderId: "905649287985",-->
<!--            appId: "1:905649287985:web:d48ba16be965df0b4d7610",-->
<!--            measurementId: "G-2D2QRMGDNM"-->
<!--        };-->
<!--        // Initialize Firebase-->
<!--        firebase.initializeApp(firebaseConfig);-->
<!--        firebase.analytics();-->
<!--    </script>-->
<!--    FOR DEV -->
    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyDCgnMC1sWiTUYv9YeOV8oX0p7FEkNTcuU",
            authDomain: "clinic-booking-dev.firebaseapp.com",
            projectId: "clinic-booking-dev",
            storageBucket: "clinic-booking-dev.appspot.com",
            messagingSenderId: "421568019639",
            appId: "1:421568019639:web:3c6f428b6611f5efe2e132",
            measurementId: "G-3ST19VWMRE"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
</header>

<div class="footer_area" data-th-fragment="footer" style="background-color: #FFFAE5">
    <div class=" feature_inner row" style="margin-top: 25px; margin-bottom: 20px">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div style='font-weight: 500;font-family: "Brush Script MT", cursive;
                        text-transform: uppercase; color: #e0a800; padding: 0px; display: inline-block; font-size: 28px'
           href="/">PHYSIOTHERAPY CLINIC</div>
            <p style="font-size: 18px; font-weight: bold"><i style="font-size: 18px" class="fa fa-phone-square"></i>
                Hotline: 0999.999.999</p>
            <p style="font-size: 14px; margin-bottom: 0px"><i class="fa fa-map-marker"></i> Xã Đàn Clinic, 345 Xã Đàn, Đống Đa, Hà Nội</p>
            <p style="font-size: 14px; margin-bottom: 0px; margin-right: 124px"><i class="fa fa-map-marker"></i> Đà Nẵng Clinic, Đà Nẵng</p>
            <p style="font-size: 14px; margin-bottom: 0px; margin-right: 50px"><i class="fa fa-map-marker"></i> HCM Clinic, Quận 1, Tp.Hồ Chí Minh</p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <i class="fa fa-facebook-square" style="font-size: 20px"></i>
            <i class="fa fa-envelope" style="font-size: 20px"></i>
        </div>
        <div class="col-md-4"></div>

    </div>
    @Copyright BOOKING SYSTEM - DATN Nguyen Viet Tien 20201
</div>
