<header class="main-navbar-header" data-th-fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top theme-color">
        <div class="menu-toggle-button">
            <a class="nav-link wave-effect" href="#" id="sidebarCollapse">
                <span class="ti-menu"></span>
            </a>
        </div>
        <a class="navbar-brand" href="#" style="margin-left: 10px; font-size: 1rem">PHYSIOTHERAPY CLINIC</a>
        <div style="padding-left: 30px">
            <div data-th-replace="fragments/breadcrumb :: ${breadcrumbLevel}"></div>
        </div>
        <ul class="navbar-nav ml-auto navbar-top-links" style="margin-right: 20px;">
            <div class="notification-menu"  th:if="${breadcrumbLevel} == 'breadcrumb-service-department' or ${breadcrumbLevel} == 'breadcrumb-staff'">
                <div class="button">
                    <i class="fa fa-bell-o " style="font-size: 21px"></i>
                    <span class="number-unread-notification hidden"></span>
                </div>
                <style>
                    .notification-menu {
                        font-size: 28px;
                        cursor: pointer;
                    }

                    .button {
                        color: white;
                        display: inline-block;
                        position: relative;
                    }

                    .number-unread-notification {
                        background-color: #fa3e3e;
                        border-radius: 2px;
                        color: white;
                        padding: 1px 3px;
                        font-size: 12px;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    .notification_content {
                        font-size: 13px;
                        margin-bottom: unset;
                        font-weight: bolder;
                    }

                    .time-send-notification {
                        font-size: 11px;
                    }

                    .list-notification-div {
                        margin-right: 30px;
                        padding: 0px 10px ;
                        width: 350px !important;
                        max-height: 350px;
                        overflow-y: auto;
                    }

                    .notification-detail {
                        margin-top: 5px;
                        border-bottom: solid 1px;
                    }
                </style>
            </div>
            <div class="dropdown-menu dropdown-user list-notification-div" style=""
                 th:if="(${breadcrumbLevel} == 'breadcrumb-service-department') or (${breadcrumbLevel} == 'breadcrumb-staff')">

                <div class="list-notification-content">

                </div>
                <div class="has-no-notification" style="padding: 10px;font-weight: bold;">
                    Không có thông báo!
                </div>
                <img id="loader_notification" src='http://opengraphicdesign.com/wp-content/uploads/2009/01/loader64.gif' style="height: 50px;display: none">
            </div>

            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
<!--                    <img src="https://placehold.it/200x200" alt="user-img" width="36" class="img-circle">-->
                    <img th:src="${#authentication.getPrincipal().getUserEntity().getAvatarUrl()}" alt="user-img" width="36" class="img-circle">
                    <b class="d-none d-sm-inline-block" th:text="${#authentication.getPrincipal().getUserEntity().getName()}"></b></a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img" style="margin-bottom: 10px">
                                <img th:src="${#authentication.getPrincipal().getUserEntity().getAvatarUrl()}" alt="user">
                            </div>
                            <div class="u-text">
                                <h6 style="font-size: 15px">[[${#authentication.getPrincipal().getUserEntity().getName()}]]</h6>
                                <p class="text-muted" id="current_username">[[${#authentication.getPrincipal().getUsername()}]]</p>
                            </div>
                        </div>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <a href="/logout"><i class="fa fa-power-off" style="margin-right: 5px"></i>Đăng xuất</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
