<nav id="sidebar" class="nav-sidebar" data-th-fragment="sidebar_system" sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')">
    <div class="block-menu block-system-menu">
        <div class="control-block-menu">
            <i class="fa fa-server icon-active"></i>
            <span>Hệ thống</span>
            <i class="fa fa-angle-double-down block-icon"></i>
        </div>
        <a href="/system/store">
            <div th:class=" ${currentPage} == 'store_management' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa fa-home"></i><span>Quản lý phòng khám</span></div>
        </a>
        <a href="/system/service_type">
            <div th:class=" ${currentPage} == 'service_type_management' ?  'menu active-menu' : 'menu not-active-menu'">
                <i class="fa fa-clone"></i><span>Quản lý loại dịch vụ</span></div>
        </a>
        <a href="/system/system_account">
            <div th:class=" ${currentPage} == 'system_account_management' ?  'menu active-menu' : 'menu not-active-menu'">
                <i class="fa fa-user-circle"></i><span>Quản lý tài khoản hệ thống</span></div>
        </a>
<!--        <a href="/system/contact">-->
<!--            <div th:class=" ${currentPage} == 'contact_management' ?  'menu active-menu' : 'menu not-active-menu'">-->
<!--                <i class="fa fa-book"></i><span>Quản lý liên hệ</span></div>-->
<!--        </a>-->
    </div>
</nav>

<nav id="sidebar" class="nav-sidebar" data-th-fragment="sidebar_store">

    <div class="block-menu block-system-menu" data-th-fragment="block-system-menu-d-none" sec:authorize="hasRole('ROLE_SYSTEM_ADMIN')">
        <div class="control-block-menu">
            <i class="fa fa-server icon-active"></i>
            <span>Hệ thống</span>
            <i class="fa fa-angle-double-right block-icon"></i>
        </div>
        <a href="/system/store">
            <div th:class=" ${currentPage} == 'store_management' ?  'menu active-menu d-none' : 'menu not-active-menu d-none'" >
                <i class="fa fa fa-home"></i><span>Quản lý phòng khám</span></div>
        </a>
        <a href="/system/service_type">
            <div th:class=" ${currentPage} == 'service_type_management' ?  'menu active-menu d-none' : 'menu not-active-menu d-none'">
                <i class="fa fa-clone"></i><span>Quản lý loại dịch vụ</span></div>
        </a>
        <a href="/system/system_account">
            <div th:class=" ${currentPage} == 'system_account_management' ?  'menu active-menu d-none' : 'menu not-active-menu d-none'">
                <i class="fa fa-user-circle"></i><span>Quản lý tài khoản hệ thống</span></div>
        </a>
    </div>

    <div class="block-menu block-store-menu" style="margin-top: 20px;" data-th-fragment="block-store-menu" sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_STORE_ADMIN')">
        <div class="control-block-menu">
            <i class="fa fa-server icon-active"></i>
            <span>Phòng khám</span>
            <i class="fa fa-angle-double-down block-icon"></i>
        </div>
        <a th:href="@{information}">
            <div th:class=" ${currentPage} == 'store_information' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa fa-info"></i><span>Thông tin phòng khám</span></div>
        </a>
        <a th:href="@{service_department}">
            <div th:class=" ${currentPage} == 'service_department_management' ?  'menu active-menu' : 'menu not-active-menu'">
                <i class="fa fa-newspaper-o"></i><span>Quản lý mảng dịch vụ</span></div>
        </a>
        <a th:href="@{store_account}">
            <div th:class=" ${currentPage} == 'store_account_management' ?  'menu active-menu' : 'menu not-active-menu'">
                <i class="fa fa-user-circle"></i><span>Quản lý tài khoản</span></div>
        </a>

        <a th:href="@{store_customer}">
            <div th:class=" ${currentPage} == 'store_customer' ?  'menu active-menu' : 'menu not-active-menu'">
                <i class="fa fa-user"></i><span>Danh sách khách hàng</span></div>
        </a>

<!--        <a th:href="@{store_statistic}">-->
<!--            <div th:class=" ${currentPage} == 'store_statistic' ?  'menu active-menu' : 'menu not-active-menu'">-->
<!--                <i class="fa fa-bar-chart"></i><span>Thống kê</span></div>-->
<!--        </a>-->
<!--        <a th:href="@{black_list}">-->
<!--            <div th:class=" ${currentPage} == 'black_list_management' ?  'menu active-menu' : 'menu not-active-menu'">-->
<!--                <i class="fa fa-bar-chart"></i><span>Quản lý danh sách đen</span></div>-->
<!--        </a>-->
    </div>
</nav>

<nav id="sidebar" class="nav-sidebar" data-th-fragment="sidebar_service_department">
    <div data-th-replace="fragments/sidebar :: block-system-menu-d-none"></div>

    <div class="block-menu block-store-menu" style="margin-top: 20px;" data-th-fragment="block-store-menu-d-none" sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_STORE_ADMIN')">
        <div class="control-block-menu">
            <i class="fa fa-server icon-active"></i>
            <span>Phòng khám</span>
            <i class="fa fa-angle-double-right block-icon"></i>
        </div>
        <a th:href="@{'/store/' + ${store.storeAuthId} + '/information'}">
            <div th:class=" ${currentPage} == 'store_information' ?  'menu active-menu d-none' : 'menu not-active-menu d-none'" >
                <i class="fa fa fa-info"></i><span>Thông tin phòng khám</span></div>
        </a>
        <a th:href="@{'/store/' + ${store.storeAuthId} + '/service_department'}">
            <div th:class=" ${currentPage} == 'service_department_management' ?  'menu active-menu d-none' : 'menu not-active-menu d-none'">
                <i class="fa fa-newspaper-o"></i><span>Quản lý Mảng dịch vụ</span></div>
        </a>
        <a th:href="@{'/store/' + ${store.storeAuthId} + '/store_account'}">
            <div th:class=" ${currentPage} == 'store_account_management' ?  'menu active-menu d-none' : 'menu not-active-menu d-none'">
                <i class="fa fa-user-circle"></i><span>Quản lý tài khoản</span></div>
        </a>
        <a th:href="@{'/store/' + ${store.storeAuthId} + '/store_customer'}">
            <div th:class=" ${currentPage} == 'store_customer' ?  'menu active-menu d-none' : 'menu not-active-menu d-none'">
                <i class="fa fa-user"></i><span>Danh sách khách hàng</span></div>
        </a>
<!--        <a th:href="@{'/store/' + ${store.storeAuthId} + '/store_statistic'}">-->
<!--            <div th:class=" ${currentPage} == 'store_statistic' ?  'menu active-menu d-none' : 'menu not-active-menu d-none'">-->
<!--                <i class="fa fa-bar-chart"></i><span>Thống kê</span></div>-->
<!--        </a>-->
    </div>

    <div class="block-menu block-service-department-menu" style="margin-top: 20px;" sec:authorize="hasAnyRole('ROLE_SYSTEM_ADMIN', 'ROLE_STORE_ADMIN', 'ROLE_SERVICE_DEPARTMENT_ADMIN')">
        <div id="custom_script">
            <script src="/libs/sockjs/sockjs-0.3.4.min.js"></script>
            <script src="/libs/sockjs/stomp.min.js"></script>
            <script src="/custom/js/store/service_department/booking_notification.js"></script>
            <script src="/custom/js/common/notification_booking.js"></script>
        </div>

        <div class="control-block-menu">
            <i class="fa fa-server icon-active"></i>
            <span>Mảng dịch vụ</span>
            <i class="fa fa-angle-double-down block-icon"></i>
        </div>
        <a th:href="@{'/service_department/' + ${serviceDepartment.authId} + '/booking'}">
            <div th:class=" ${currentPage} == 'booking' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-folder-open-o"></i><span>Quản lý lịch đặt</span></div>
        </a>
        <a th:href="@{'/service_department/' + ${serviceDepartment.authId} + '/working_time_config'}">
            <div th:class=" ${currentPage} == 'common_working_time' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-cogs"></i><span>Cấu hình thời gian làm việc</span></div>
        </a>
        <a th:href="@{'/service_department/' + ${serviceDepartment.authId} + '/cashier'}">
            <div th:class=" ${currentPage} == 'cashier_management' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-user-circle"></i><span>Quản lý nhân viên thu ngân</span></div>
        </a>
        <a th:href="@{'/service_department/' + ${serviceDepartment.authId} + '/information'}">
            <div th:class=" ${currentPage} == 'service_department_info' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-info"></i><span>Thông tin mảng dịch vụ</span></div>
        </a>
        <a th:href="@{'/service_department/' + ${serviceDepartment.authId} + '/image'}">
            <div th:class=" ${currentPage} == 'service_department_image' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-image"></i><span>Quản lý hình ảnh</span></div>
        </a>
        <a th:href="@{'/service_department/' + ${serviceDepartment.authId} + '/statistic'}">
            <div th:class=" ${currentPage} == 'service_department_statistic' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-bar-chart"></i><span>Thống kê</span></div>
        </a>
    </div>
</nav>

<nav id="sidebar" class="nav-sidebar" data-th-fragment="sidebar_staff">

    <div class="block-menu sidebar_staff" style="margin-top: 20px;" sec:authorize="hasRole('ROLE_SERVICE_DEPARTMENT_STAFF')">
        <div id="custom_script">
            <script src="/libs/sockjs/sockjs-0.3.4.min.js"></script>
            <script src="/libs/sockjs/stomp.min.js"></script>
            <script src="/custom/js/common/notification_booking.js"></script>
        </div>
        <div class="control-block-menu">
            <i class="fa fa-server icon-active"></i>
            <span>Chuyên viên</span>
            <i class="fa fa-angle-double-down block-icon"></i>
        </div>
        <a th:href="@{'/service_staff/booking_management'}">
            <div th:class=" ${currentPage} == 'staff_booking_management' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-cogs"></i><span>Quản lý lịch đặt phân công</span></div>
        </a>
        <a th:href="@{'/service_staff/info'}">
            <div th:class=" ${currentPage} == 'staff_info' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-info"></i><span>Thông tin cá nhân</span></div>
        </a>
    </div>
</nav>

<nav id="sidebar" class="nav-sidebar" data-th-fragment="sidebar_cashier">

    <div class="block-menu sidebar_staff" style="margin-top: 20px;" sec:authorize="hasRole('ROLE_SERVICE_DEPARTMENT_CASHIER')">
        <div id="custom_script">
            <script src="/libs/sockjs/sockjs-0.3.4.min.js"></script>
            <script src="/libs/sockjs/stomp.min.js"></script>
            <script src="/custom/js/common/notification_booking.js"></script>
        </div>
        <div class="control-block-menu">
            <i class="fa fa-server icon-active"></i>
            <span>Nhân viên thu ngân</span>
            <i class="fa fa-angle-double-down block-icon"></i>
        </div>
        <a th:href="@{'/service_department/' + ${serviceDepartment.authId} + '/booking'}">
            <div th:class=" ${currentPage} == 'booking' ?  'menu active-menu' : 'menu not-active-menu'" >
                <i class="fa fa-folder-open-o"></i><span>Quản lý lịch đặt</span></div>
        </a>
    </div>
</nav>

