<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-store" />
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title data-layout-title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE"></title>

    <link rel="stylesheet" href="/libs/bootstrap4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/custom/css/component.css"/>
    <link rel="stylesheet" href="/libs/themify/themify-icons.css">
    <link rel="stylesheet" href="/libs/plugins/css/waves.min.css"/>
    <link rel="stylesheet" href="/libs/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/custom/css/left_menu.css"/>
    <script src="/libs/momentjs/moment.min.js" type="text/javascript"></script>
    <script src="/libs/jQuery/jquery-3.1.1.js"></script>
    <script src="/libs/bootstrap4/js/popper.js"></script>
    <script src="/libs/bootstrap4/js/bootstrap.js"></script>
    <script src="/libs/plugins/js/jquery.slimscroll.min.js"></script>
    <script src="/libs/plugins/js/waves.min.js"></script>
    <script type="text/javascript" src="/libs/jQuery/jquery.validate.js"></script>
    <script type="text/javascript" src="/libs/jQuery/messages_vi.js"></script>
    <script src="/custom/js/common/common.js"></script>
    <script src="/custom/js/common/left_menu.js"></script>
</head>
<body>
<div th:replace="components :: loader"></div>
<div th:replace="components :: alert"></div>
<!--<header th:replace="layouts/header :: header('store',${currentPage})">-->
<!--</header>-->
<div class="left-menu left-menu-active">
    <div class="header-left-menu clearfix">
        <span id="icon_menu">
         		<i class="fa fa-arrow-left fa-2x menu-des"></i>
         		<i class="fa fa-arrow-right fa-2x menu-des d-none"></i>
    	 </span>
    </div>
    <div class="block-menu block-management-store">
        <div class="control-block-menu"><i class="fa fa-server icon-active"></i><span
                style="font-size: 12px">Quản lý phòng khám</span><i
                class="fa fa-angle-double-right block-icon"></i></div>
        <a th:href="@{'/system/store'}"
           th:if="${menu.hasStoreMenu}">
            <div th:class=" ${currentPage} == 'new_store' ?  'menu active-menu d-none' : 'menu not-active-menu d-none' ">
                <i
                        class="fa fa-shopping-bag"></i><span>Phòng khám</span></div>
        </a>
        <a th:href="@{'/system/store/admin'}"
           th:if="${menu.hasStoreMenu} and (${isSysAdmin} or ${isCompanyAdmin})">
            <div th:class=" ${currentPage} == 'page_store_admin' ?  'menu active-menu d-none' : 'menu not-active-menu d-none' "><i
                    class="fa fa-users"></i><span>Quản lý admin</span></div>
        </a>

    </div>
    <div class="block-menu block-list-booking">
        <div class="control-block-menu"><i class="fa fa-server icon-active"></i><span
                style="font-size: 12px">店舗管理</span><i
                class="fa fa-angle-double-down block-icon"></i></div>
        <a th:href="@{'/store/'+${storeId}+'/booking'}" th:if="${isCanAccessBookingScreen}">
            <div th:class=" ${currentPage} == 'booking' ?  'menu active-menu ' : 'menu not-active-menu ' "><i
                    class="fa fa-shopping-bag"></i><span>予約一覧</span></div>
        </a>
        <a th:href="@{'/store/'+${storeId}+'/commonWorkingTime'}" th:if="${isCanAccessWorkingTimeConfigScreen}">
            <div th:class=" ${currentPage} == 'common_config' ?  'menu active-menu ' : 'menu not-active-menu ' "><i
                    class="fa fa-shopping-bag"></i><span>共通設定</span></div>
        </a>
        <a th:href="@{'/store/'+${storeId}+'/listCustomer'}" th:if="${isCanAccessListCustomerStoreScreen}">
            <div th:class=" ${currentPage} == 'list_customer' ?  'menu active-menu' : 'menu not-active-menu' "><i
                    class="fa fa-shopping-bag"></i><span>顧客一覧</span></div>
        </a>
        <a th:href="@{'/store/'+${storeId}+'/statisticBooking'}" th:if="${isCanAccessStatisticBookingScreen}">
            <div th:class=" ${currentPage} == 'statistic_booking' ?  'menu active-menu' : 'menu not-active-menu' "><i
                    class="fa fa-shopping-bag"></i><span>予約分析</span></div>
        </a>
    </div>
</div>
<section class="page-content" layout:fragment="content">
</section>
<input hidden="hidden" id="is_can_access_booking_screen" th:value="${isCanAccessBookingScreen}"/>
<input hidden="hidden" id="is_can_access_working_time_config_screen" th:value="${isCanAccessWorkingTimeConfigScreen}"/>
<input hidden="hidden" id="is_can_access_list_customer_store_screen" th:value="${isCanAccessListCustomerStoreScreen}"/>
<input hidden="hidden" id="is_can_access_statistic_booking_screen" th:value="${isCanAccessStatisticBookingScreen}"/>
<th:block th:fragment="page-scripts">

</th:block>
</body>
</html>
