<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
      th:with="currentPage='common_working_time', sidebarName='sidebar_service_department',
      breadcrumbLevel='breadcrumb-service-department', breadcrumbName='Cấu hình thời gian làm việc'">
<head>
    <title>Cấu hình thời gian làm việc</title>
    <script type="text/javascript" src="/custom/js/common/init_datepicker.js"></script>
    <!--    <script type="text/javascript" src="/custom/js/service_department/common_working_time_config.js"></script>-->
        <script type="text/javascript" src="/custom/js/store/service_department/config_time/time_setting.js"></script>
        <script type="text/javascript" src="/custom/js/store/service_department/config_time/frame_setting.js"></script>
        <script type="text/javascript" src="/custom/js/store/service_department/config_time/work_off_day_setting.js"></script>
        <script type="text/javascript" src="/custom/js/store/service_department/category_booking/list_category_booking.js"></script>
        <script type="text/javascript" src="/custom/js/store/service_department/category_booking/import_category_booking.js"></script>
        <script type="text/javascript" src="/libs/jQuery/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/libs/datatables/dataTables.bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/custom/css/new_datatable.css">
    <style>
        .btn-outline-dark:hover, .btn-outline-dark:not(:disabled):not(.disabled):active {
            background-color: red !important;
            color: white !important;
        }

        .label-radio {
            margin-right: 10px;
            width: 80px;
        }

        .is-work-off {
            background: red;
            color: white;
        }

        .is-not-work-off {
            background: white;
            color: black;
        }

        .config {
            padding-left: 15px;
            padding-right: 15px;
            flex: 0 0 13%;
            max-width: 13%;
            min-width: 130px;
        }

        .text-config-name {
            font-size: 18px;
            border-bottom: solid 1px blue;
            margin-top: 20px;
        }

        #table_category_booking_import_wrapper .row {
            width: 100% !important;
        }
        #table_category_booking_import_length {
            width: 100px;
            height: 30px;
            margin-bottom: 20px;
        }
        #table_category_booking_import_paginate li{
            display: none;
            list-style-position: inside;
            border: 1px solid #d1c8c8;
            border-radius: inherit;
            margin-right: 5px;
        }
    </style>
</head>

<body>
<div class="container content-area" data-layout-fragment="content">
    <div th:replace="component/component :: import_date_range_picker"></div>
    <input class="form-control hidden" id="store_id" th:value="${store.storeAuthId}">
    <input class="form-control hidden" id="service_department_id" th:value="${serviceDepartment.authId}">
    <!--    NEW SCREEN-->

    <div class="tab-content">
        <div class="table-content tab-pane active" id="common_config" role="tabpanel">
            <h4 style="text-align: center; padding-bottom: 20px; font-weight: bolder">Cấu hình thời gian làm việc</h4>
            <div id="time_setting_div" v-cloak>
                <label class="text-config-name">Cấu hình thời gian</label>

                <form class="form-time-setting" :id="'setting_form_' + index"
                      v-for="(timeSetting, index) in listTimeSetting">
                    <div class="row">
                        <div class="div-choose-time" style="display: contents">
                            <div class="form-group config">
                                    <span v-if="index == 0">
                                        <label class="control-label">Giờ làm việc</label>
                                        <sup style="color: red;">*</sup>
                                    </span>
                                <input class="form-control start-working-time" :data="index"
                                       :id="'start_working_time_' + index" name="start_working_time" type="text">
                            </div>
                            <p v-if="index == 0" style="margin-top: 23px" class="p-responsive">~</p>
                            <p v-if="index != 0" class="p-responsive">~</p>
                            <div class="form-group config">
                                <div v-if="index == 0" class="form-input" style="margin-top: 23px">
                                    <input class="form-control end-working-time" :data="index"
                                           :id="'end_working_time_' + index" name="end_working_time" type="text">
                                </div>
                                <div v-if="index != 0" class="form-input">
                                    <input class="form-control end-working-time" :data="index"
                                           :id="'end_working_time_' + index" name="end_working_time" type="text">
                                </div>
                            </div>
                        </div>

                        <div class="div-choose-time" style="display: contents">
                            <div class="form-group config">
                                    <span v-if="index == 0">
                                        <label class="control-label">Giờ nghỉ trưa</label>
                                         <sup style="color: red;">*</sup>
                                    </span>
                                <div class="">
                                    <input class="form-control start-break-time" :data="index"
                                           :id="'start_break_time_' + index" name="start_break_time">
                                </div>
                            </div>
                            <p v-if="index == 0" style="margin-top: 23px" class="p-responsive">~</p>
                            <p v-if="index != 0" class="p-responsive">~</p>
                            <div v-if="index == 0" class="form-group config" style="margin-top: 23px">
                                <div class="">
                                    <input class="form-control end-break-time" :data="index"
                                           :id="'end_break_time_' + index"
                                           name="end_break_time">
                                </div>
                            </div>
                            <div v-if="index != 0" class="form-group config">
                                <div class="">
                                    <input class="form-control end-break-time" :data="index"
                                           :id="'end_break_time_' + index" name="end_break_time">
                                </div>
                            </div>
                        </div>

                        <div class="div-choose-time" style="display: contents;">
                            <div class="form-group config">
                                <span v-if="index == 0"><label class="control-label">Hiệu lực</label>
                                    <sup style="color: red;">*</sup>
                                </span>
                                <div class="" style="min-width: 110px">
                                    <input class="form-control" :data="index" :id="'start_active_range_' + index"
                                           name="start_active_range">
                                </div>
                            </div>
                            <p v-if="index == 0" style="margin-top: 23px" class="p-responsive">~</p>
                            <p v-if="index != 0" class="p-responsive">~</p>
                            <div v-if="index == 0" class="form-group config" style="margin-top: 23px">
                                <div class="" style="min-width: 110px">
                                    <input class="form-control" placeholder="Thời gian kết thúc" :data="index"
                                           :id="'end_active_range_' + index" name="end_active_range">
                                </div>
                            </div>
                            <div v-if="index != 0" class="form-group config">
                                <div class="" style="min-width: 110px">
                                    <input class="form-control" placeholder="Thời gian kết thúc" :data="index"
                                                                       :id="'end_active_range_' + index" name="end_active_range">
                                </div>
                            </div>
                        </div>
                        <div v-if="index == 0" class="col-sm-2" style="margin-top: 23px; min-width: 75px">
                            <button type="button" class="btn btn-sm btn-primary btn-save-time-setting"
                                    @click="submitForm(index)">Cập nhật
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" @click="confirmDelete(index)">Xóa
                            </button>
                        </div>
                        <div v-if="index != 0" class="col-sm-2" style="min-width: 75px">
                            <button type="button" class="btn btn-sm btn-primary btn-save-time-setting"
                                    @click="submitForm(index)">Cập nhật
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" @click="confirmDelete(index)">Xóa
                            </button>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <button type="button" class="btn btn-sm btn-primary" style="min-width: 174px"
                            @click="createNewTimeSetting">＋　Thêm cấu hình thời gian
                    </button>
                </div>

                <!-- modal delete time setting -->
                <div class="modal fade" id="modal_delete_time_setting" tabindex="-1" role="dialog"
                     aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="lineModalLabel">Xóa cấu hình thời gian làm việc</h5>
                            </div>
                            <div class="modal-body">
                                <div class="message-delete"></div>
                                <h5> Bạn có chắc chắn muốn xóa không ? </h5>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"
                                        id="btn_dismiss_modal" role="button">
                                    Hủy bỏ
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="btn_submit_delete_time_setting"
                                        @click="submitDelete()" role="button">
                                    Xóa
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="frame_setting_div" v-cloak>
                <label class="text-config-name">Cấu hình số chỗ</label>
                <form class="form-frame-setting" :id="'frame_setting_form_' + index"
                      v-for="(frameSetting, index) in listFrameSetting">
                    <div class="row">
                        <div class="form-group config">
                        <span v-if="index == 0">
                            <label class="control-label">Số chỗ</label>
                            <sup style="color: red;">*</sup>
                        </span>
                            <div class="form-input">
                                <input class="form-control" type="number" min="0" max="50" :data="index"
                                       :id="'frame_slot_' + index" name="frame_slot"
                                       v-model="frameSetting.frameSlot" step="1">
                            </div>
                        </div>
                        <div class="form-group config">
                            <span v-if="index == 0"><label class="control-label">Đơn vị thời gian</label>
                                <sup style="color: red;">*</sup>
                            </span>
                            <div class="form-input">
                                <select class="form-control" style="font-size: 13px !important;" :data="index"
                                        :id="'slot_time_unit_' + index" name="slot_time_unit"
                                        v-model="frameSetting.slotTimeUnit">
                                    <option value="15">15 phút</option>
                                    <option value="30">30 phút</option>
                                    <option value="45">45 phút</option>
                                    <option value="60">60 phút</option>
                                    <option value="75">75 phút</option>
                                    <option value="90">90 phút</option>
                                    <option value="105">105 phút</option>
                                    <option value="130">130 phút</option>
                                    <option value="145">145 phút</option>
                                    <option value="160">160 phút</option>
                                </select>
                            </div>
                        </div>
                        <div class="div-choose-time" style="display: contents; max-width: 300px">
                            <div class="form-group config">
                                <span v-if="index == 0"><label class="control-label">Hiệu lực</label>
                                    <sup style="color: red;">*</sup>
                                </span>
                                <div class="" style="min-width: 110px">
                                    <input class="form-control" :data="index"
                                           :id="'frame_setting_start_active_range_' + index" name="start_active_range">
                                </div>
                            </div>
                            <p v-if="index == 0" style="margin-top: 23px" class="p-responsive">~</p>
                            <p v-if="index != 0" class="p-responsive">~</p>
                            <div v-if="index == 0" class="form-group config" style="margin-top: 23px">
                                <div class="" style="min-width: 110px">
                                    <input class="form-control" placeholder="Thời gian kết thúc" :data="index"
                                           :id="'frame_setting_end_active_range_' + index" name="end_active_range">
                                </div>
                            </div>
                            <div v-if="index != 0" class="form-group config">
                                <div class="" style="min-width: 110px">
                                    <input class="form-control" placeholder="Thời gian kết thúc" :data="index"
                                           :id="'frame_setting_end_active_range_' + index" name="end_active_range">
                                </div>
                            </div>
                        </div>

                        <div v-if="index == 0" class="col-sm-2" style="margin-top: 23px; min-width: 75px">
                            <button type="button" class="btn btn-sm btn-primary btn-save-frame-setting"
                                    @click="submitFrameSettingForm(index)">Cập nhật
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    @click="confirmDeleteFrameSetting(index)">Xóa
                            </button>
                        </div>
                        <div v-if="index != 0" class="col-sm-2" style="min-width: 75px">
                            <button type="button" class="btn btn-sm btn-primary btn-save-frame-setting"
                                    @click="submitFrameSettingForm(index)">Cập nhật
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    @click="confirmDeleteFrameSetting(index)">Xóa
                            </button>
                        </div>
                    </div>
                </form>

                <div class="form-group">
                    <button class="btn btn-sm btn-primary" style="min-width: 162px" @click="createNewFrameSetting">
                        ＋　Thêm cài đặt khung chỗ
                    </button>
                </div>

                <!-- modal delete frame setting -->
                <div class="modal fade" id="modal_delete_frame_setting" tabindex="-1" role="dialog"
                     aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Xóa cấu hình khung thời gian</h5>
                            </div>
                            <div class="modal-body">
                                <div class="message-delete"></div>
                                <h5> Bạn có chắc chắn muốn xóa không ? </h5>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light btn-sm" data-dismiss="modal" role="button">
                                    Hủy bỏ
                                </button>
                                <button type="button" class="btn btn-primary btn-sm"
                                        id="btn_submit_delete_frame_setting" @click="submitDeleteFrameSetting()"
                                        role="button">
                                    Xóa
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="work_off_day_setting_div" v-cloak>
                <label class="text-config-name">Cấu hình ngày nghỉ</label>
                <form class="form-work-off_day-setting" :id="'work_off_day_setting_form_' + index"
                      v-for="(workOffDaySetting, index) in listWorkOffDaySetting">
                    <div class="row">
                        <div class="form-group col-md-6" style="max-width: 590px !important;">
                        <span v-if="index == 0"> <label class="control-label">Ngày</label>
                            <sup style="color: red;">*</sup></span>
                            <div class="form-input">
                                <label class="btn btn-sm btn-outline-dark label-radio"
                                       style="font-size: 12px !important;"
                                       :class="workOffDaySetting.workOffFixed == 'MONDAY' ? 'is-work-off' : 'is-not-work-off'">
                                    <input type="radio" name="work_off" value="MONDAY"
                                           v-model="workOffDaySetting.workOffFixed" hidden>
                                    Thứ hai
                                </label>
                                <label class="btn btn-sm btn-outline-dark label-radio"
                                       style="font-size: 12px !important;"
                                       :class="workOffDaySetting.workOffFixed == 'TUESDAY' ? 'is-work-off' : 'is-not-work-off'">
                                    <input type="radio" name="work_off" value="TUESDAY"
                                           v-model="workOffDaySetting.workOffFixed" hidden>
                                    Thứ ba
                                </label>
                                <label class="btn btn-sm btn-outline-dark label-radio"
                                       style="font-size: 12px !important;"
                                       :class="workOffDaySetting.workOffFixed == 'WEDNESDAY' ? 'is-work-off' : 'is-not-work-off'">
                                    <input type="radio" name="work_off" value="WEDNESDAY"
                                           v-model="workOffDaySetting.workOffFixed" hidden>
                                    Thứ tư
                                </label>
                                <label class="btn btn-sm btn-outline-dark label-radio"
                                       style="font-size: 12px !important;"
                                       :class="workOffDaySetting.workOffFixed == 'THURSDAY' ? 'is-work-off' : 'is-not-work-off'">
                                    <input type="radio" name="work_off" value="THURSDAY"
                                           v-model="workOffDaySetting.workOffFixed" hidden>
                                    Thứ năm
                                </label>
                                <label class="btn btn-sm btn-outline-dark label-radio"
                                       style="font-size: 12px !important;"
                                       :class="workOffDaySetting.workOffFixed == 'FRIDAY' ? 'is-work-off' : 'is-not-work-off'">
                                    <input type="radio" name="work_off" value="FRIDAY"
                                           v-model="workOffDaySetting.workOffFixed" hidden>
                                    Thứ sáu
                                </label>
                                <label class="btn btn-sm btn-outline-dark label-radio"
                                       style="font-size: 12px !important;"
                                       :class="workOffDaySetting.workOffFixed == 'SATURDAY' ? 'is-work-off' : 'is-not-work-off'">
                                    <input type="radio" name="work_off" value="SATURDAY"
                                           v-model="workOffDaySetting.workOffFixed" hidden>
                                    Thứ bảy
                                </label>
                                <label class="btn btn-sm btn-outline-dark label-radio"
                                       style="font-size: 12px !important;"
                                       :class="workOffDaySetting.workOffFixed == 'SUNDAY' ? 'is-work-off' : 'is-not-work-off'">
                                    <input type="radio" name="work_off" value="SUNDAY"
                                           v-model="workOffDaySetting.workOffFixed" hidden>
                                    Chủ nhật
                                </label>

                                <label class="btn btn-sm btn-outline-dark label-radio"
                                       style="font-size: 12px !important;"
                                       :class="workOffDaySetting.workOffFixed == 'NOT_CONFIG' ? 'is-work-off' : 'is-not-work-off'">
                                    <input type="radio" name="work_off" value="NOT_CONFIG"
                                           v-model="workOffDaySetting.workOffFixed" hidden>
                                    Không
                                </label>
                            </div>
                        </div>
                        <div class="form-group config" style="margin-top: 2px">
                        <span v-if="index == 0">
                            <label class="control-label">Hiệu lực</label>
                            <sup style="color: red;">*</sup>
                        </span>
                            <div class="" style="min-width: 110px">
                                <input class="form-control" :data="index"
                                       :id="'work_off_setting_start_active_range_' + index" name="start_active_range">
                            </div>
                        </div>
                        <p v-if="index == 0" style="margin-top: 25px" class="p-responsive">~</p>
                        <p v-if="index != 0" class="p-responsive">~</p>
                        <div v-if="index == 0" class="form-group config" style="margin-top: 25px">
                            <div class="" style="min-width: 110px">
                                <input class="form-control" placeholder="Thời gian kết thúc" :data="index"
                                       :id="'work_off_setting_end_active_range_' + index" name="end_active_range">
                            </div>
                        </div>
                        <div v-if="index != 0" class="form-group config">
                            <div class="" style="min-width: 110px">
                                <input class="form-control" placeholder="Thời gian kết thúc" :data="index"
                                       :id="'work_off_setting_end_active_range_' + index" name="end_active_range">
                            </div>
                        </div>
                        <div v-if="index == 0" class="col-sm-2" style="margin-top: 25px; min-width: 75px">
                            <button type="button" class="btn btn-sm btn-primary btn-save-work-off-setting"
                                    @click="submitWorkOffSettingForm(index)">Cập nhật
                            </button>
                            <button type="button" class="btn btn-sm btn-danger"
                                    @click="confirmDeleteWorkOffSetting(index)">Xóa
                            </button>
                        </div>
                                                <div v-if="index != 0" class="col-sm-2" style="min-width: 75px">
                                                    <button type="button" class="btn btn-sm btn-primary btn-save-work-off-setting"
                                                            @click="submitWorkOffSettingForm(index)">Cập nhật
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-danger"
                                                            @click="confirmDeleteWorkOffSetting(index)">Xóa
                                                    </button>
                                                </div>
                    </div>
                </form>

                <div class="row">
                    <div class="form-group col-md-3">
                        <button class="btn btn-sm btn-primary" style="min-width: 150px"
                                @click="createWorkOffDaySetting()">＋　Thêm mới cấu hình ngày nghỉ
                        </button>
                    </div>
                </div>

                <!-- modal delete work off day setting -->
                <div class="modal fade" id="modal_delete_work_off_setting" tabindex="-1" role="dialog"
                     aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Xóa cấu hình ngày nghỉ</h5>
                            </div>
                            <div class="modal-body">
                                <div class="message-delete"></div>
                                <h5> Bạn có chắc chắn muốn xóa không ?</h5>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-light btn-sm" data-dismiss="modal" role="button">
                                    Hủy bỏ
                                </button>
                                <button type="button" class="btn btn-primary btn-sm"
                                        id="btn_submit_delete_work_off_setting"
                                        @click="submitDeleteWorkOff()" role="button">
                                    Xóa
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>


        <label class="text-config-name">Dịch vụ</label>

        <div class="row">
<!--            <div class="form-group col-md-6" th:if="${isSysAdmin}">-->
            <div class="form-group col-md-6">
                <button class="btn btn-sm btn-danger" id="btn-delete-all-category"
                        data-toggle="modal" data-target="#modal_delete_all_category">Xóa tất cả
                </button>
                <button class="btn btn-sm btn-danger" id="import_category_btn">Thêm dịch vụ bằng Excel</button>
                <input class="form-control hidden" id="import_category_excel_input" accept=".xlsx,.xls"
                       type="file"/>
                <a style="color: blue; margin-right: 10px;" href="/sample_file/categories_template.xlsx">
                    <i style="font-size: 12px;text-decoration: underline">Mẫu Excel</i>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <button class="btn btn-sm btn-primary btn-add-row"
                        style="background-color: blue; color: white; min-width: 210px"
                        id="add_new_category_booking"
                        data-toggle="modal" data-target="#modal_add_category">＋　Thêm thể loại dịch vụ
                </button>
            </div>
        </div>

        <div id="category_booking_management">
            <div class="col-md-12"
                 style="padding-left: unset; padding-right: unset; margin-bottom: 50px; overflow-x: auto;">
                <table class="table table-striped table-bordered responsive" id="list_category_booking_table"
                       style="min-width: 555px; font-size: 12px">
                    <thead style="background-color: #023F5B;">
                    <tr>
<!--                        <th class="text-center" style="width: 5%"></th>-->
                        <th class="text-center" style="width: 30%; color: white">Tên dịch vụ</th>
                        <th class="text-center" style="width: 15%; color: white">Số lượng khung cần</th>
                        <th class="text-center" style="width: 15%; color: white">Chi phí</th>
                        <th class="text-center" style="width: 30%"></th>
                    </tr>
                    </thead>
                    <tbody class="text-center">
                    <tr v-if="listCategoryBooking.length === 0">
                        <td colspan="5">Không có dữ liệu</td>
                    </tr>
                    <tr v-for="category in listCategoryBooking">
<!--                        <td><i class='fa fa-arrows-v fa-lg arrow'></i></td>-->
                        <td>{{category.categoryName}}</td>
                        <td>{{category.numberFrameConsecutiveAutoFill}}</td>
                        <td>{{formatMoney(category.moneyExcludeTax)}}</td>
                        <td>
                            <label class="switch" style="margin-right: 5px">
                                <input type="checkbox" :checked="category.active" name="status_param"/>
                                <span class="slider round" :id="category.id"></span>
                            </label>
                            <button type="button" style="margin-right: 5px;" @click="getDetailCategory(category.id)"
                                    class="btn btn-primary btn-sm btn-edit" :id="'btn_edit_' + category.id"
                                    data-toggle="modal" data-target="#modal_add_category">Chi tiết
                            </button>

<!--                            <button th:if="${isSysAdmin}" type="button"-->
                            <button type="button" class="btn btn-danger btn-sm btn-delete-category"
                                    :id="'btn_delete_' + category.id" data-toggle="modal"
                                    data-target="#modal_delete_category" @click="confirmDelete(category.id)">Xóa
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="modal_category_booking_import" role="dialog" data-keyboard="false"
                 data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thêm dịch vụ mới</h5>
                        </div>
                        <div class="modal-body">
                            <div style="color: red; font-size: 12px;margin-bottom: 10px"
                                 id="text_error_category_booking">
                            </div>
                            <table class="table responsive" id="table_category_booking_import">
                                <thead>
                                <tr>
                                    <th class="text-center" style="width: 30%">Tên dịch vụ</th>
                                    <th class="text-center" style="width: 10%">Số khung</th>
                                    <th class="text-center" style="width: 15%">Chi phí</th>
                                </tr>
                                </thead>
                                <tbody style="text-align: center">
                                <tr>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-light btn-sm">Hủy bỏ</button>
                            <button class="btn btn-primary btn-sm" type="button"
                                    id="btn_submit_import_category_booking">Thêm mới
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal_add_category" tabindex="-1"
                 role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thêm dịch vụ mới</h5>
                        </div>
                        <form id="form_add_category">
                            <div class="modal-body">
                                <div class="message-add"></div>

                                <div class="form-group">
                                    <label>Tên dịch vụ </label>
                                    <sup>*</sup>
                                    <input type="text" class="form-control" id="category_booking_name"
                                           name="categoryName" v-model="categoryName"
                                           placeholder="Vui lòng nhập tên dịch vụ">
                                </div>
                                <div class="form-group">
                                    <label>Số khung thực hiện</label>
                                    <sup>*</sup>
                                    <select style="padding-top: 3px" type="number" class="form-control"
                                            id="number_frame_consecutive_auto_fill"
                                            name="numberFrameConsecutiveAutoFill"
                                            v-model="numberFrameConsecutiveAutoFill">
                                        <option value="0" selected>0</option>
                                        <option value="1" >1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Chi phí (Đã bao gồm thuế)</label>
                                    <sup>*</sup>
                                    <input type="number" class="form-control" id="money_exclude_tax"
                                           v-model="moneyExcludeTax" name="moneyExcludeTax" min="0" step="1">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Hủy bỏ
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm btn-save-category" role="button"
                                            @click="submitFormCategory()" id="btn_submit_add_category">
                                        Thêm mới
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal_delete_all_category" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xóa tất cả dịch vụ</h5>
                        </div>
                        <div class="modal-body">
                            <div class="message-delete"></div>
                            <h5> Bạn có chắc chắn muốn xóa không ?</h5>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light btn-sm" data-dismiss="modal"
                                    role="button">Hủy bỏ
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" id="btn_submit_delete_all"
                                    role="button">Xóa
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- modal delete category -->
            <div class="modal fade" id="modal_delete_category" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" th:fragment="modalDeleteBooking">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xóa</h5>
                        </div>
                        <div class="modal-body">
                            <div class="message-delete"></div>
                            <h5> Bạn có chắc chắn muốn xóa ? </h5>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light btn-sm" data-dismiss="modal" role="button">
                                Hủy bỏ
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" id="btn_submit_delete" role="button">
                                Xóa
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>

