<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
      th:with="currentPage='service_type_management', sidebarName='sidebar_system', breadcrumbLevel='breadcrumb-system', breadcrumbName='Loại dịch vụ'">
<head>
    <title>Quản lý loại dịch vụ</title>
    <script type="text/javascript" src="/custom/js/system/service_type_management/save.js"></script>
    <script type="text/javascript" src="/custom/js/system/service_type_management/list.js"></script>
</head>

<body>
<div class="container content-area" data-layout-fragment="content">
    <div th:replace="component/component :: import_datatable"></div>
    <div class="col-md-12">
        <div style="margin-bottom: 20px">
            <button type="button" class="btn btn-primary btn-sm pull-right"
                    id="btn_add_service_type" data-toggle="modal" data-target="#modal_service_type">Thêm loại dịch vụ</button>

            <div class="pull-right" style="margin-right: 20px;">
                <div class="form-inline">
                    <label>Chọn phòng khám: </label>
                    <select id="store_select" class="form-control" style="font-size: 13px; height: 35px; font-weight: bold; margin-left: 5px">
                        <option th:each="store: ${listStore}" th:value="${store.id}" th:text="${store.storeName}"></option>
                    </select>
                </div>
            </div>
        </div>

        <table class="table" id="table_service_type">
            <thead class="">
            <tr>
                <th scope="col" style="width: 40%">Tên loại dịch vụ</th>
                <th scope="col" style="width: 25%">Ngày tạo</th>
                <th scope="col"></th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="modal_service_type" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align: center" >Loại dịch vụ</h5>
                </div>
                <div class="modal-body">
                    <form class="row" id="form_service_type">
                        <input class="form-control" id="service_type_id" hidden>
                        <div class="form-group col-md-12">
                            <label for="service_type_name">Tên loại dịch vụ: <sup>*</sup></label>
                            <input type="text" class="form-control" id="service_type_name" name="service_type_name" placeholder="Tên loại dịch vụ">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btn_submit" class="btn btn-primary btn-sm" >Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="component/component :: delete_modal(delete_service_type_modal,'Xóa loại dịch vụ', 'Chắc chắn muốn xóa loại dịch vụ này?')"></div>
</div>
</body>
</html>
