<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
      th:with="currentPage='store_customer', sidebarName='sidebar_store', breadcrumbLevel='breadcrumb-store', breadcrumbName='Danh sách khách hàng'">
<head>
    <title>Danh sách khách hàng</title>
    <script type="text/javascript" src="/custom/js/common/init_datepicker.js"></script>
    <script type="text/javascript" src="/libs/jQuery/typeahead.jquery.js"></script>
    <script type="text/javascript" src="/custom/js/store/store_customer/list_customer.js"></script>
    <script type="text/javascript" src="/custom/js/store/store_customer/list_booking_of_customer.js"></script>
    <script type="text/javascript" src="/custom/js/store/service_department/booking/save_booking.js"></script>
    <script type="text/javascript" src="/custom/js/store/service_department/booking/custom_slot_booking.js"></script>
    <script type="text/javascript" src="/custom/js/store/service_department/booking/list_booking_customer_popup_detail.js"></script>
    <script type="text/javascript" src="/custom/js/store/service_department/booking/list_comment_booking.js"></script>
    <link rel="stylesheet" href="/custom/css/custom_datatable.css"/>
    <link rel="stylesheet" href="/custom/css/booking.css"/>
    <style>
    .btn-outline-dark:hover,
    .btn-outline-dark:not(:disabled):not(.disabled):active {
    background-color: red !important;
    color: white !important;
    }

    .label-radio {
    margin-right: 10px;
    }

    .col-md-2 {
    max-width: 15.7% !important;
    }

    input.form-control {
    font-size: 13px !important;
    }

    .btn-status {
    width: 110px;
    }

    .fa-file-pdf-o {
    cursor: pointer;
    font-size: 24px;
    }
    </style>
</head>

<body>
<div class="container content-area" data-layout-fragment="content">
    <div th:replace="component/component :: import_datatable"></div>
    <input hidden th:value="${store.storeAuthId}" id="store_id">

    <div style="margin-bottom: 10px">
        <label class="col-md-4 col-form-label" th:text="${'Tên khách hàng: ' + customer.name}"></label>
        <label class="col-sm-4 col-form-label" id="patient_code"
               th:text="${'Mã khách hàng: ' + customer.patientCode}"></label>

        <input type="hidden" th:value="${customer.id}" id="customer_id">
    </div>
    <div class="table-content">
        <table class="table dataTables_wrapper responsive" id="list_booking_table"
               style="text-align: center;">
            <thead>
            <tr>
                <th style="width: 10%">Mã ID</th>
                <th style="width: 20%">Giờ đặt</th>
                <th style="width: 20%">Khung thời gian</th>
                <th style="width: 20%">Thời gian tạo</th>
                <th style="width: 30%"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div th:replace="component/component :: modalSaveBooking"></div>
        <div th:replace="component/component :: delete_modal(modal_delete_booking,'Xóa lịch đặt', 'Chắc chắn muốn xóa lịch đặt này?')"></div>

    </div>
</div>
</body>

</html>