<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}"
      th:with="currentPage='service_department_management', sidebarName='sidebar_store',
      breadcrumbLevel='breadcrumb-store', breadcrumbName='Mảng dịch vụ'">
<head>
    <title>Quản lý Mảng dịch vụ</title>
    <script type="text/javascript" src="/libs/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/custom/js/common/initCkEditor.js"></script>
    <script type="text/javascript" src="/custom/js/common/handle_image_input.js"></script>
    <script type="text/javascript" src="/custom/js/store/service_department/save.js"></script>
    <script type="text/javascript" src="/custom/js/store/service_department/list.js"></script>
</head>

<body>
<div class="container content-area" data-layout-fragment="content">
    <div th:replace="component/component :: import_datatable"></div>
    <div class="col-md-12">
        <input hidden id="store_auth_id" th:value="${store.storeAuthId}">
        <button type="button" class="btn btn-primary btn-sm pull-right" id="btn_add_service_department" data-toggle="modal"
                data-target="#modal_add_service_department">
            Thêm mảng dịch vụ
        </button>

        <table class="table" id="table_service_department">
            <thead class="">
            <tr>
                <th scope="col" style="width: 20%">Hình ảnh</th>
                <th scope="col" style="width: 20%">Tên mảng dịch vụ</th>
                <th scope="col" style="width: 20%">Loại dịch vụ</th>
                <th scope="col" style="width: 20%">Ngày tạo</th>
                <th scope="col"></th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="modal_add_service_department" tabindex="-1" role="dialog" aria-labelledby="modalAddServiceDepartment" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="text-align: center" id="modalAddServiceDepartment">Mảng dịch vụ</h5>
                </div>
                <div class="modal-body">
                    <form id="form_save_service_department">
                        <input type="text" class="form-control hidden" id="service_department_id" name="id">

                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Hình ảnh: <sup>*</sup></label>
                                <div th:replace="component/component :: image-upload(image_service_department, 250px, 150px)"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="service_department_name">Tên mảng dịch vụ: <sup>*</sup></label>
                                <input type="text" class="form-control" id="service_department_name" name="service_department_name" placeholder="Tên mảng dịch vụ">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="type_service">Loại dịch vụ: <sup>*</sup></label>
                                <select id="type_service" class="form-control" style="font-size: 12px; height: 30px;">
                                    <option th:each="serviceType: ${listServiceType}" th:value="${serviceType.id}" th:text="${serviceType.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="service_department_description">Mô tả: <sup>*</sup></label>
                                <textarea id="service_department_description" name="description" class="form-control" ></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btn_submit" class="btn btn-primary btn-sm">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="component/component :: delete_modal(delete_service_department_modal,'Xóa mảng dịch vụ', 'Chắc chắn muốn xóa mảng dịch vụ này?')"></div>

</div>
</body>
</html>
